<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/sub_layout}">
<head>
	<title>차트 예제</title>
	<script th:inline="javascript">
		var gBarChart, gDonutChart, gLineChart
		$(document).ready(function(){
			gBarChart = showBarChart();
			gLineChart = showLineChart();
			gDonutChart = showDonutChart();
		});

		function showBarChart() {
			return new Chart(
				document.getElementById("barchart"),
				{
					"type": "bar",
					"data": {
						"labels": [
							"4월",
							"5월",
							"6월"
						],
						"datasets": [
							{
								"label": "판매자",
								"backgroundColor": "#6495ED",
								"hoverBackgroundColor": "#6495ED",
								"borderColor": "#6495ED",
								"data": [ 0, 485500, 41500 ]
							},
							{
								"label": "판매처 평균",
								"backgroundColor": "#CCCCFF",
								"hoverBackgroundColor": "#CCCCFF",
								"borderColor": "#CCCCFF",
								"data": [ 323800.0000, 479050.0000, 267800.0000 ]
							}
						]
					},
					"options": {
						legend: {
							display: true,
							position: "right"
						},
						scales: {
							yAxes: [{
								ticks: {
									userCallback: function(value, index, values) {
										value = value.toString();
										value = value.split(/(?=(?:...)*$)/);
										value = value.join(',');
										return value;
									}
								}
							}]
						},
						tooltips: {
							backgroundColor: "rgb(255, 255, 255)",
							bodyFontColor: "#858796",
							borderColor: '#dddfeb',
							borderWidth: 1,
							xPadding: 15,
							yPadding: 15,
							displayColors: false,
							caretPadding: 10
						},
						plugins: {
							datatables: {
								display: false
							}
						}
					}
				}
			);
		}

		function showDonutChart() {
			return new Chart(
				document.getElementById("donutchart"),
				{
					"type": "doughnut",
					"data": {
						"labels": [ "비타민", "눈건강" ],
						"datasets": [
							{
								"backgroundColor":  genSeqColor(null, null, 2),
								"data": [ 7, 2 ]
							}
						]
					},
					"options": {
						maintainAspectRatio: false,
						tooltips: {
							backgroundColor: "rgb(255,255,255)",
							bodyFontColor: "#858796",
							borderColor: '#dddfeb',
							borderWidth: 1,
							xPadding: 15,
							yPadding: 15,
							displayColors: false,
							caretPadding: 10,
						},
						plugins: {
							datalabels: {
								formatter: function(value, ctx) {
									let sum = 0;
									let dataArr = ctx.chart.data.datasets[0].data;
									dataArr.map(function(data) {sum += data;});
									let percentage = (value*100 / sum).toFixed(2)+'%';
									return percentage;
								},
								color: '#222222',
								font: {
									weight: 'bold',
									size: 14
								}
							}
						},
						legend: {
							display: true,
							position: "right"
						},
						cutoutPercentage: 60,
					}
				}
			);
		}

		function showLineChart() {
			return new Chart(
				document.getElementById("linechart"),
				{
					"type": "line",
					"data": {
						"datasets": [
							{
								"backgroundColor": "#488f31",
								"borderColor": "#488f31",
								"data": [
									0, 0, 10000, 20000, 40000, 35000, 50000
								],
								"fill": false,
								"label": "카테고리1"
							},
							{
								"backgroundColor": "#574935",
								"borderColor": "#574935",
								"data": [
									0, 0,40000, 30000, 50000, 35000, 20000
								],
								"fill": false,
								"label": "카테고리2"
							},
							{
								"backgroundColor": "#665039",
								"borderColor": "#665039",
								"data": [
									0, 0, 20000, 40000, 25000, 30000, 35000
								],
								"fill": false,
								"label": "카테고리3"
							},
							{
								"backgroundColor": "#75573d",
								"borderColor": "#75573d",
								"data": [
									0, 0, 35000, 20000, 30000, 40000, 45000
								],
								"fill": false,
								"label": "카테고리4"
							},
							{
								"backgroundColor": "#845e41",
								"borderColor": "#845e41",
								"data": [
									0, 0, 45000, 35000, 40000, 20000, 20000
								],
								"fill": false,
								"label": "카테고리5"
							}
						],
						"labels": ["1월", "2월", "3월", "4월", "5월", "6월", "7월"]
					},
				}
			);
		}
	</script>
</head>

<th:block layout:fragment="content_body">
	<!-- 페이지 경로 -->
	<div class="mb-2" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<i class="fas fa-home"></i>
			</li>
			<li class="breadcrumb-item">차트예제</li>
		</ol>
	</div>

	<div class="card shadow mb-2">
		<div class="card-header">
			<h6 class="text-primary">막대 차트</h6>
		</div>
		<div class="card-body">
			<div class="chart-area">
				<canvas id="barchart" style="width: 100%; height: 100%;"></canvas>
			</div>
		</div>
	</div>

	<div class="card shadow mb-2">
		<div class="card-header">
			<h6 class="text-primary">라인차트</h6>
		</div>
		<div class="card-body">
			<div class="chart-area">
				<canvas id="linechart" style="width: 100%; height: 100%;"></canvas>
			</div>
		</div>
	</div>

	<div class="card shadow mb-2">
		<div class="card-header">
			<h6 class="text-primary">도넛차트</h6>
		</div>
		<div class="card-body">
			<div class="chart-area">
				<canvas id="donutchart" style="width: 100%; height: 100%;"></canvas>
			</div>
		</div>
	</div>

</th:block>