@use 'sass:math';

@import '../lib/bootstrap/scss/functions';
@import '../lib/bootstrap/scss/variables';
@import '../lib/bootstrap/scss/mixins';

$pc-full-size: 1200;
$tablet-size: 1024;
$mobile-size: 768;

// common
body {
    font-family: 'Roboto', 'Noto Sans KR';
    letter-spacing: -0.02em;
}
button {
    background: none;
    border: 0 none;
}
pre,
code {
    font-family: inherit;
}
ul,
ol {
    padding-inline-start: 1.2rem;
}
select,
input,
textarea,
button,
optgroup {
    font-family: inherit;
    letter-spacing: inherit;
    font-size: inherit;
    line-height: inherit;
}
.main {
    margin-bottom: 3rem;
}
.pre-line {
    white-space: pre-line;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.bg-none {
    background: none !important;
}

.d-flex {
    .custom-control-label,
    .btn {
        white-space: nowrap;
        vertical-align: middle;
    }
    .custom-control-label {
        &::before,
        &:after {
            top: 0.3rem;
        }
    }
}
.flex-auto {
    flex: 1 1 auto;
}

.fc-red {
    color: #dc3545 !important;
}
.fc-yellow {
    color: $yellow !important;
}
.fz-lg {
    font-size: $font-size-lg;
}
.fz-sm {
    font-size: $font-size-sm;
}

.text-line-box {
    background: #fff;
    padding: 1.5rem;
    border: $border-width solid $border-color;
    border-radius: $border-radius-lg;
    > *:last-child {
        margin-bottom: 0;
    }
}

.search-wrap {
    & + .btn-wrap {
        text-align: center;
    }
}

.btn-wrap {
    text-align: right;
    margin-top: 1rem;
    font-size: 0;
    .btn {
        min-width: 5rem;
        &.btn-lg {
            min-width: 9.375rem;
        }
        + .btn {
            margin-left: 0.5rem;
        }
    }
}

.breadcrumb-item {
    & + .breadcrumb-item {
        &::before {
            content: '>';
        }
    }
}

//form
.form-box {
    border-bottom: 0.063rem solid #dee2e6;
    a:not(.btn) {
        text-decoration: underline;
    }
    &.hide {
        display: none;
    }
    .form-box-row {
        display: flex;
        border-top: 0.063rem solid #dee2e6;
    }
    .form-box-item {
        display: flex;
        width: 100%;
    }
    .form-box-label {
        background-color: #f8f9fa;
        width: 130px;
        flex-shrink: 0;
        font-size: 0.875rem;
        line-height: 1.2;
        font-weight: 500;
        padding: 0.3rem 1rem;
        display: flex;
        align-items: center;

        word-break: keep-all;
        label {
            margin: 0;
            &.req {
                position: relative;
                &::after {
                    display: inline-block;
                    content: '*';
                    color: #dc3545 !important;
                }
            }
        }
    }
    .form-box-cont {
        flex: 1 1 auto;
        padding: 0.3rem 0.8rem;
        min-height: 2.8rem;
        // &:not(.d-flex) {
        //   display: flex;
        //   flex-direction: column;
        //   justify-content: center;
        // }
    }

    .btn-group {
        .btn {
            white-space: nowrap;
        }
    }
}
.input-daterange-btn {
    display: flex;
    .input-daterange {
        flex: 1 1 auto;
    }
    .input-group-prepend {
        margin: 0 0.4rem;
        align-items: center;
        justify-content: center;
    }
    .btn {
        white-space: nowrap;
    }
    &.time-type {
        .time {
            width: 10%;
            flex-shrink: 0;
            flex-grow: 0;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// title
.title-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }
    > .left,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        flex: 1 1 auto;
        text-align: left;
        // display: flex;
        // align-items: center;
        // min-height: 2.188rem;
        + .right {
            padding-left: 2rem;
        }
    }
    > .right {
        margin-left: auto;
        white-space: nowrap;
    }
    .custom-select {
        width: auto;
    }
}

//table
.bootstrap-table .fixed-table-container .table thead th {
    vertical-align: middle !important;
}
.table {
    a:not(.btn) {
        text-decoration: underline;
    }
    tr {
        &:not(:hover) {
            &.tr-fixed {
                background: lighten($primary, 47%);
            }
            &.tr-selected {
                background: lighten($red, 43%);
            }
        }
        &.tr-disabled {
            background: #f5f5f5;
            th,
            td {
                color: #bbb;
                text-decoration: line-through;
                a {
                    color: #bbb;
                }
            }
        }
    }
    thead {
        th {
            text-align: center !important;
            background-color: $gray-100;
            font-weight: 500;
        }
    }
    tbody {
        th,
        td {
            text-align: center;
        }
    }
    .card-views {
        text-align: left;
    }
    .no-records-found {
        td {
            text-align: center;
            padding: 2rem 0 !important;
            color: $gray-500;
        }
    }
    &.form-table {
        th {
            background: $gray-200;
        }
    }
    th,
    td {
        .custom-control-inline {
            vertical-align: middle;
        }
        .custom-control-inline:last-child {
            margin-right: 0;
        }
    }
    a.text-truncate {
        display: block;
    }
    .text-truncate {
        max-width: 31.25rem;
    }
}
.fixed-table-pagination {
    .pagination-info {
        display: none;
    }
}
.table:not(.table-sm):not(.table-lg) {
    th,
    td {
        padding: 0.5rem;
    }
}
.table-nodata {
    text-align: center !important;
    padding: 2rem 0 !important;
    color: $gray-500 !important;
}
.datepicker td,
.datepicker th {
    width: 30px;
    height: 30px;
}
.custom-control {
    &.only {
        min-height: 1rem;
        padding-left: 1rem;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        .custom-control-input {
            height: 1rem;
        }
        .custom-control-label {
            position: static;
            &:before {
                top: 0;
                left: 0;
            }
            &:after {
                top: 0;
                left: 0;
            }
        }
    }
}
//sort기능 table
.table.dataTable > thead .sorting:before,
.table.dataTable > thead .sorting:after,
.table.dataTable > thead .sorting_asc:before,
.table.dataTable > thead .sorting_asc:after,
.table.dataTable > thead .sorting_desc:before,
.table.dataTable > thead .sorting_desc:after,
.table.dataTable > thead .sorting_asc_disabled:before,
.table.dataTable > thead .sorting_asc_disabled:after,
.table.dataTable > thead .sorting_desc_disabled:before,
.table.dataTable > thead .sorting_desc_disabled:after {
    bottom: 0.5rem;
}
.table.dataTable > thead .no-sorting:before,
.table.dataTable > thead .no-sorting:after {
    display: none;
}
.bootstrap-table {
    .dataTables_length,
    .dataTables_filter,
    .dataTables_info,
    .dataTables_paginate {
        display: none;
    }
    .dataTables_wrapper {
        .row {
            margin-left: 0;
            margin-right: 0;
            > div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .table {
            thead {
                th:not(.no-sorting) {
                    .th-inner {
                        margin-right: 1rem;
                    }
                }
            }
            .data-img {
                width: 4rem;
                height: 4rem;
                object-fit: cover;
            }
        }
    }
}
.bootstrap-table .fixed-table-container .table thead th .th-inner {
    padding: 0.5rem !important;
}

//tab
.sub-tab {
    .nav-link {
        color: var(--gray);
        outline: 0;
    }
    .nav-item {
        .active {
            font-weight: 500;
            color: var(--blue) !important;
        }
    }

    + .tab-content {
        margin-top: 2rem;
    }
}

//대시보드
.dashboard-box {
    background: var(--gray-dark);
    border-radius: $border-radius-lg;
    color: $white;
    padding: 1rem;
    overflow: auto hidden;
    .text-line-box {
        font-size: 0.875em;
        background: none;
        padding: 0.2rem 0.8rem;
        color: $gray-400;
        align-items: center;
        > div {
            width: 100%;
            padding: 0.3rem;
            align-items: center;
            text-align: center;
        }
    }
}
.dashboard {
    font-size: $font-size-sm;
    word-break: keep-all;
    white-space: nowrap;
    display: flex;
    > div {
        display: flex;
        width: 100%;
        + div {
            border-left: 1px solid $gray-600;
        }
    }
    .line {
        border-left: 1px solid $gray-600;
    }
    dl {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0 0.5rem;
        // min-width: 6rem;
    }
    dt {
        display: flex;
        font-weight: $font-weight-normal;
        line-height: 1.1;
        min-height: 1.688rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    dd {
        margin: 0.25rem 0 0 0;
    }
}
.dash-chart-box {
    height: 100%;
}
