@use 'sass:math';

@import '../lib/bootstrap/scss/functions';
@import '../lib/bootstrap/scss/variables';
@import '../lib/bootstrap/scss/mixins';

$pc-full-size: 1200px;
$tablet-size: 1024px;
$mobile-size: 768px;
$mobile-ios-size: 390px;
$mobile-aos-size: 360px;

// common
body {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    letter-spacing: -0.02em;
    color: #111;
}
button {
    background: none;
    border: 0 none;
}
pre,
code {
    font-family: inherit;
}
ul,
ol {
    padding-inline-start: 1.2rem;
}
select,
input,
textarea,
button,
optgroup {
    font-family: inherit;
    letter-spacing: inherit;
    font-size: inherit;
    line-height: inherit;
}
.container-fluid {
    padding-bottom: 3rem;
}
.pre-line {
    white-space: pre-line;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.bg-none {
    background: none !important;
}

.d-flex {
    .custom-control-label,
    .btn {
        white-space: nowrap;
        vertical-align: middle;
    }
    .custom-control-label {
        &::before,
        &:after {
            top: 0.2rem;
        }
    }
}
.flex-auto {
    flex: 1 1 auto;
}

.fc-red {
    color: #dc3545 !important;
}
.fc-yellow {
    color: $yellow !important;
}
.fz-lg {
    font-size: $font-size-lg;
}
.fz-sm {
    font-size: $font-size-sm;
}

// 모달팝업
// .modal.show {
//     .modal-dialog {
//         top: 50%;
//         transform: translateY(-50%);
//         margin: 0 auto;
//     }
// }

.modal-footer {
    justify-content: center;
    .btn {
        min-width: 100px;
    }
}
// 사이트바
.sidebar {
    .nav-item {
        &.active {
            .nav-link {
                color: #fff;
                i {
                    color: #fff;
                }
            }
        }
    }
}

// login
.form-signin-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    color: #212529;
    .signin-content {
        flex-direction: row;
        max-width: 40rem;
        min-height: 30rem;
    }

    .signin-left {
        width: 40rem;
        flex: 0 0 50%;
        border-right: 1px solid #ddd;
    }
    .signin-right {
        flex: 0 0 50%;
        padding: 2rem;
        box-sizing: border-box;
        .title {
            font-size: 1.5rem;
            margin-bottom: 3rem;
        }
    }
    form.user {
        .form-control-user {
            border-radius: 0.35rem;
        }
        .btn-user {
            margin-top: 3rem;
            border-radius: 0.35rem;
        }
        .custom-checkbox.small {
            label {
                font-size: 14px;
            }
        }
    }
}

// topbar
.topbar {
    height: 3rem;
    background: #858796;
    margin-bottom: 4rem;
    .nav-item {
        display: flex;
        align-items: center;
        .nav-link {
            height: 100%;
            color: rgba(255, 255, 255, 0.85);
            font-size: 14px;
            &:hover {
                color: #fff;
            }
        }
        & + .nav-item {
            .nav-link {
                &:before {
                    content: '';
                    display: block;
                    width: 0.063rem;
                    height: 0.625rem;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -0.313rem;
                    background: #bbb;
                }
            }
        }
        .possnum-wrap {
            display: flex;
            align-items: center;
            dl,
            dt,
            dd {
                margin: 0;
            }
            dl {
                display: flex;
                height: 100%;
                padding: 0 0.75rem;
                align-items: center;
            }
            dt {
                color: #fff;
                font-weight: 400;
                margin-right: 0.3rem;
            }
            dd {
                font-weight: bold;
            }
        }
    }
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover .navbar-nav {
    height: 100%;

    .btn-group {
        height: 100%;
    }
}

.text-line-box {
    background: #fff;
    padding: 1.5rem;
    border: $border-width solid $border-color;
    border-radius: $border-radius-lg;
    > *:last-child {
        margin-bottom: 0;
    }
}

.search-wrap {
    & + .btn-wrap {
        text-align: center;
    }
}

.btn-wrap {
    text-align: right;
    margin-top: 1rem;
    font-size: 0;
    .btn {
        min-width: 5rem;
        &.btn-lg {
            min-width: 9.375rem;
        }
        + .btn {
            margin-left: 0.5rem;
        }
    }
}

.breadcrumb-item {
    color: #999;
    a {
        text-decoration: none;
    }
    &:first-child {
        display: flex;
        align-items: center;
    }
    & + .breadcrumb-item {
        &::before {
            content: '>';
        }
    }
    &:last-child {
        color: #212529;
        font-weight: 500;
    }
}

//form
.form-box {
    border-bottom: 0.063rem solid #dee2e6;
    a:not(.btn) {
        text-decoration: underline;
    }
    &.hide {
        display: none;
    }
    .form-box-row {
        display: flex;
        border-top: 0.063rem solid #dee2e6;
    }
    .form-box-item {
        display: flex;
        width: 100%;
    }
    .form-box-label {
        background-color: #f8f9fa;
        width: 130px;
        flex-shrink: 0;
        font-size: 0.875rem;
        line-height: 1.2;
        font-weight: 500;
        padding: 0.3rem 1rem;
        display: flex;
        align-items: center;

        word-break: keep-all;
        label {
            margin: 0;
            color: #111;
            &.req {
                position: relative;
                &::after {
                    display: inline-block;
                    content: '*';
                    color: #dc3545 !important;
                }
            }
        }
        &.label-s {
            width: 80px;
        }
    }
    .form-box-cont {
        flex: 1 1 auto;
        padding: 0.3rem 0.8rem;
        min-height: 2.8rem;
        // &:not(.d-flex) {
        //   display: flex;
        //   flex-direction: column;
        //   justify-content: center;
        // }
    }

    .btn-group {
        .btn {
            white-space: nowrap;
        }
    }
}
.form-control.disabled,
.custom-select.disabled {
    pointer-events: none;
    color: #6c757d;
    background-color: #e9ecef;
}
.custom-control-wrap {
    padding: 0.25rem 0;
    .custom-control {
        margin-top: 0.188rem;
        margin-bottom: 0.188rem;
    }
}
.input-group {
}
.input-daterange-btn {
    display: flex;
    .input-daterange {
        flex: 1 1 auto;
    }
    .input-group-prepend {
        margin: 0 -0.1rem;
        align-items: center;
        justify-content: center;
    }
    .btn {
        white-space: nowrap;
    }
    &.time-type {
        .time {
            width: 10%;
            flex-shrink: 0;
            flex-grow: 0;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }
    }
    & > div + div,
    & > div + .btn {
        margin-left: 1rem;
    }
}

// title
.title-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }
    > .left,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        flex: 1 1 auto;
        text-align: left;
        // display: flex;
        // align-items: center;
        // min-height: 2.188rem;
        + .right {
            padding-left: 2rem;
        }
    }
    > .right {
        margin-left: auto;
        white-space: nowrap;
    }
    .custom-select {
        width: auto;
    }
}

//table
.bootstrap-table .fixed-table-container .table thead th {
    vertical-align: middle !important;
}
.table {
    color: #111 !important;
    a:not(.btn) {
        text-decoration: underline;
        color: #111;
    }
    tr {
        color: #212529;
        &:not(:hover) {
            &.tr-fixed {
                background: lighten($primary, 47%);
            }
            &.tr-selected {
                background: lighten($red, 43%);
            }
        }
        &.tr-disabled {
            background: #f5f5f5;
            th,
            td {
                color: #bbb;
                text-decoration: line-through;
                a {
                    color: #bbb;
                }
            }
        }
    }
    thead {
        th {
            text-align: center !important;
            background-color: $gray-100;
            font-weight: 500;
        }
    }
    tbody {
        th,
        td {
            text-align: center;
        }
    }
    .card-views {
        text-align: left;
    }
    .no-records-found {
        td {
            text-align: center;
            padding: 2rem 0 !important;
            color: $gray-500;
        }
    }
    &.form-table {
        th {
            background: $gray-200;
        }
    }
    th,
    td {
        .custom-control-inline {
            vertical-align: middle;
        }
        .custom-control-inline:last-child {
            margin-right: 0;
        }
    }
    a.text-truncate {
        display: block;
    }
    .text-truncate {
        max-width: 31.25rem;
    }
}
.table-hover {
    tbody {
        tr:hover {
            color: #212529;
            background: rgba(255, 193, 7, 0.075);
        }
    }
}
.fixed-table-pagination {
    .pagination-info {
        display: none;
    }
    .pagination {
        justify-content: center;
    }
}
.table:not(.table-sm):not(.table-lg) {
    th,
    td {
        padding: 0.5rem;
    }
}
.table-nodata {
    text-align: center !important;
    padding: 2rem 0 !important;
    color: $gray-500 !important;
}
.datepicker td,
.datepicker th {
    width: 30px;
    height: 30px;
}
.custom-control {
    &.only {
        min-height: 1rem;
        padding-left: 1rem;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        .custom-control-input {
            height: 1rem;
        }
        .custom-control-label {
            position: static;
            &:before {
                top: 0;
                left: 0;
            }
            &:after {
                top: 0;
                left: 0;
            }
        }
    }
}
//sort기능 table
.table.dataTable {
    margin-top: 0 !important;
}
.table.dataTable > thead .sorting:before,
.table.dataTable > thead .sorting:after,
.table.dataTable > thead .sorting_asc:before,
.table.dataTable > thead .sorting_asc:after,
.table.dataTable > thead .sorting_desc:before,
.table.dataTable > thead .sorting_desc:after,
.table.dataTable > thead .sorting_asc_disabled:before,
.table.dataTable > thead .sorting_asc_disabled:after,
.table.dataTable > thead .sorting_desc_disabled:before,
.table.dataTable > thead .sorting_desc_disabled:after {
    bottom: 0.5rem;
}
.table.dataTable > thead .no-sorting:before,
.table.dataTable > thead .no-sorting:after {
    display: none;
}
.bootstrap-table {
    .dataTables_length,
    .dataTables_filter,
    .dataTables_info,
    .dataTables_paginate {
        display: none;
    }
    .dataTables_wrapper {
        .row {
            margin-left: 0;
            margin-right: 0;
            > div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .table {
            thead {
                th:not(.no-sorting) {
                    .th-inner {
                        margin-right: 1rem;
                    }
                }
            }
            .data-img {
                width: 4rem;
                height: 4rem;
                object-fit: cover;
            }
        }
    }
}
.bootstrap-table .fixed-table-container .table thead th .th-inner {
    padding: 0.5rem !important;
}

//tab
.sub-tab {
    .nav-link {
        color: var(--gray);
        outline: 0;
    }
    .nav-item {
        .active {
            font-weight: 500;
            color: var(--blue) !important;
        }
    }

    + .tab-content {
        margin-top: 2rem;
    }
}
.btn-tab {
    gap: 0.5rem;
    border-bottom: 0 !important;
    .btn-tab-link {
        outline: 0;
        color: #fff;
        background-color: #858796;
        border-color: #858796;
        border-radius: 1.2rem;
        border-top-left-radius: 1.2rem !important;
        border-top-right-radius: 1.2rem !important;
        &.active {
            border-color: #858796 !important;
            font-weight: 500;
            color: var(--gray-dark) !important;
        }
    }
}

//대시보드
.ico-new {
    position: relative;
    &::after {
        content: 'N';
        position: absolute;
        right: -1.2rem;
        top: 0;
        display: block;
        color: var(--red);
        font-weight: 800;
        font-size: 0.9rem;
    }
}
.dashboard-box {
    background: var(--gray-dark);
    border-radius: $border-radius-lg;
    color: $white;
    padding: 1rem;
    overflow: auto hidden;
    .text-line-box {
        font-size: 0.875em;
        background: none;
        padding: 0.2rem 0.8rem;
        color: $gray-400;
        align-items: center;
        > div {
            width: 100%;
            padding: 0.3rem;
            align-items: center;
            text-align: center;
        }
    }
}
.dashboard {
    font-size: $font-size-sm;
    word-break: keep-all;
    white-space: nowrap;
    display: flex;
    > div {
        display: flex;
        width: 100%;
        + div {
            border-left: 1px solid $gray-600;
        }
    }
    .line {
        border-left: 1px solid $gray-600;
    }
    dl {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0 0.5rem;
        // min-width: 6rem;
    }
    dt {
        display: flex;
        font-weight: $font-weight-normal;
        line-height: 1.1;
        min-height: 1.688rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    dd {
        margin: 0.25rem 0 0 0;
    }
}
.dash-chart-box {
    position: relative;
    height: 100%;
    .chart-pie {
        z-index: 10;
    }
    .chart-total {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-bottom: 4rem;
        font-size: 2.2rem;
        color: var(--gray-dark);
        font-weight: 700;
        z-index: 1;
        p {
            margin-bottom: 0;
        }
    }
}
@media (max-width: $pc-full-size) {
    .sidebar {
        width: 12rem !important;
        .nav-item {
            .nav-link {
                width: 100%;
            }
        }
    }
}

@media (min-width: $tablet-size) {
    .form-signin-wrap {
        .signin-content {
            max-width: 60rem;
        }
    }
}

@media (max-width: $tablet-size) {
    .sidebar-brand-text {
        font-size: 14px;
    }
    .dashboard {
        flex-wrap: wrap;
        dl {
            width: 50%;
        }
        dt {
            font-size: 16px;
            br {
                display: none;
            }
        }
        dd {
            font-size: 16px;
        }
    }
}

@media (max-width: $mobile-size) {
    body {
        font-size: 14px;
    }
    .topbar {
        #sidebarToggleTop {
            background: none;
            &:hover {
                background: rgba(255, 255, 255, 0.25);
            }
        }
    }
    .search-wrap {
        .form-box {
            position: relative;
        }
    }
    .form-signin-wrap {
        .signin-content {
            min-width: 60%;
        }
        .signin-left {
            display: none;
        }
        .signin-right {
            flex: 1;
        }
    }

    .sidebar {
        width: 6.5rem !important;
    }

    .fixed-table-pagination {
        .pagination {
            justify-content: right;
        }
    }

    .form-box {
        background-color: #f8f9fa;
        border-bottom-width: 0;
        .form-box-row {
            display: block;
            border-top-width: 0;
        }
        .form-box-item {
            display: block;
            border-top: 2px solid #dee2e6;
            // + .form-box-item {
            //   margin-top: 1rem;
            // }
        }
        .form-box-label {
            display: block;
            width: auto;
            padding: 0.75rem 1rem;
            text-align: left;
            background-color: #e9ecef;
            &.label-s {
                width: 100%;
            }
        }
        .form-box-cont {
            padding: 1rem 0.5rem;
        }
    }
    .input-daterange-btn {
        flex-wrap: wrap;
        > div {
            + div {
                width: 100%;
                margin-left: 0;
                margin-top: 0.5rem;
            }
            + div.btn-wrap {
                position: absolute;
                top: 3.5px;
                right: 0;
            }
            + .btn {
                margin-left: auto;
                margin-top: 0.5rem;
            }
        }
    }
    .dash-chart-box {
        .chart-total {
            top: -55px;
        }
    }
}
@media (max-width: $mobile-ios-size) {
    .form-box .btn-group .btn {
        padding: 3px;
    }
}

//라디오 아이콘 스타일
.rdo-ico-type {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 7rem;
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 1rem;
    color: var(--gray);
    z-index: 10;
    cursor: pointer;
    .fas {
        font-size: 1.5rem;
    }
    .custom-control-input {
        &:checked ~ {
            .fas {
                color: var(--primary);
            }
            .custom-control-label {
                color: var(--primary);
                &::after {
                    background-image: none;
                }
                &::before {
                    background-color: rgba($color: #4e73df, $alpha: 0.1);
                    border-color: var(--primary);
                }
            }
        }
    }
    .custom-control-label {
        position: initial;
        font-size: 1rem;
        font-weight: 500;
        &::before,
        &::after {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    + .rdo-ico-type {
        margin-left: 1rem;
    }
}
