@charset "UTF-8";
.bg-log {
    background-color: #f8f9fa;
}

.blind {
    position: absolute;
    top: -9999px;
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 1%;
    line-height: 0;
}

.btn-inp-del {
    display: none;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    width: 2.4rem;
    height: 2.4rem;
    transform: translateY(-50%);
    background: url('../images/btn/btn_ip_delete.svg') no-repeat center;
}

.btn-inp-pw {
    display: none;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    width: 2.4rem;
    height: 2.4rem;
    transform: translateY(-50%);
    background: url('../images/btn/btn_ip_pw.svg') no-repeat center;

    &.is-show {
        background: url('../images/btn/btn_ip_pw_on.svg') no-repeat center;
    }
}

.input-box {
    &.focus {
        position: relative;
        .btn-inp-del,
        .btn-inp-pw {
            display: block;
        }
        .form-control {
            padding-right: 2.5rem;
        }
        &.pw {
            input {
                padding-right: 5.5rem;
            }
            .btn-inp-del {
                right: 3rem;
            }
        }
    }
}

.log-content-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    color: #212529;
    li {
        list-style: none;
    }
}
.log-content {
    max-width: 60rem;
    min-height: 40rem;
    border-radius: 0.35rem;
    .col {
        width: 40rem;
        padding: 0;
        margin: 0;
    }
    .log-visu-box {
        position: relative;
        .visu-img {
            height: 100%;
            background-image: url('../images/img/img-clubmeta.png');
            background-size: cover;
            background-position: 50%;
        }
        p {
            position: absolute;
            bottom: 30px;
            left: 0;
            width: 100%;
            margin: 0;
            font-size: 16px;
            text-align: center;
        }
    }
    .log-form {
        padding: 20px;
        border: 1px solid #e3e6f0;
        background: #fff;
        .form-box {
            border-bottom: none;
            label {
                display: block;
                margin: 0;
            }
            .text-danger {
                display: none;
                margin-top: 5px;
            }
        }
        .was-validated {
            .text-danger {
                display: block;
            }
            .input-box.focus {
                .btn-inp-del {
                    right: 2.5rem;
                }
                .form-control {
                    padding-right: 4.5rem;
                }
                &.pw {
                    .form-control {
                        padding-right: 6.5rem;
                    }
                    .btn-inp-del {
                        right: 4.5rem;
                    }
                    .btn-inp-pw {
                        right: 2.5rem;
                    }
                }
            }
        }

        .title {
            font-weight: bold;
            font-size: 20px;
            margin: 15px auto;
        }
        .col-md-auto {
            padding: 0;
        }
        .btn-flat {
            margin-top: auto;
        }
        .form-control {
            height: 50px;
        }
    }
    .option-box {
        font-size: 16px;
    }

    .social-box {
        margin-top: 30px;
        ul {
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding: 0;
        }
        li {
            width: 60px;
            height: 60px;
            a {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 1.2rem;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.last {
                a {
                    &::before {
                        content: '';
                        position: absolute;
                        left: 1.5rem;
                        bottom: -1.2rem;
                        display: block;
                        width: 1.4rem;
                        height: 1.2rem;
                        background: url('../images/ico/ico_box_tail.svg') 0 0 no-repeat;
                        z-index: 5;
                    }
                    &::after {
                        content: '마지막으로 로그인한 계정이예요!';
                        position: absolute;
                        bottom: -5.2rem;
                        left: -4rem;
                        display: block;
                        width: 11.5rem;
                        height: 4.8rem;
                        padding: 1rem 1.6rem;
                        border-radius: 0.8rem;
                        background-color: #dee2e6;
                        font-size: 14px;
                        line-height: 1.4rem;
                        text-align: center;
                        box-sizing: border-box;
                    }
                }
            }
            &.kakao {
                a {
                    background-image: url('../images/ico/ico_kakao.svg');
                    background-color: #fee500;
                    background-size: 30px;
                }
            }
            &.naver {
                a {
                    background-image: url('../images/ico/ico_naver.svg');
                    background-color: #03c75a;
                    background-size: 30px;
                }
            }
            &.google {
                a {
                    border: 1px solid #cfcfcf;
                    background-image: url('../images/ico/ico_google.svg');
                    background-color: #ffffff;
                    background-size: 50px;
                }
            }
            &.apple {
                a {
                    background-image: url('../images/ico/ico_apple.svg');
                    background-color: #111111;
                    background-size: 25px;
                }
            }
        }
    }
}

.log-footer {
    display: flex;
    address {
        ul {
            display: flex;
        }
        li {
            position: relative;
            &:after {
                display: inline-block;
                content: ' │ ';
            }
        }
    }
}
