.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.4rem;
    background: #fff;
    border-radius: 24px 24px 0px 0px;
    box-shadow: 0px 4px 12px 0px #14245b2e;

    .nav {
        height: 100%;
        padding: 0.8rem 1.6rem 1.4rem;
        box-sizing: border-box;
        ul {
            display: flex;
            justify-content: space-between;
        }
        li {
            width: 5.2rem;
            height: 4.2rem;

            &.on {
                a {
                    color: $base-color;
                    &.btn-home:before {
                        background: url('../../resources/images/ico/ico_home_on.svg') no-repeat;
                    }
                    &.btn-klip:before {
                        background: url('../../resources/images/ico/ico_clip_on.svg') no-repeat;
                    }
                    &.btn-shot:before {
                        background: url('../../resources/images/ico/ico_camera_on.svg') no-repeat;
                    }
                    &.btn-music:before {
                        background: url('../../resources/images/ico/ico_music_on.svg') no-repeat;
                    }
                    &.btn-user:before {
                        background: url('../../resources/images/ico/ico_user_on.svg') no-repeat;
                    }
                }
            }
        }
        a {
            display: inline-block;
            position: relative;
            width: 100%;
            padding-top: 3rem;
            font-size: 1rem;
            line-height: 1.2rem;
            text-align: center;
            color: #585858;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 3rem;
                height: 3rem;
                transform: translateX(-50%);
            }
            &.btn-home:before {
                background: url('../../resources/images/ico/ico_home.svg') no-repeat;
            }
            &.btn-klip:before {
                background: url('../../resources/images/ico/ico_clip.svg') no-repeat;
            }
            &.btn-shot:before {
                background: url('../../resources/images/ico/ico_camera.svg') no-repeat;
            }
            &.btn-music:before {
                background: url('../../resources/images/ico/ico_music.svg') no-repeat;
            }
            &.btn-user:before {
                background: url('../../resources/images/ico/ico_user.svg') no-repeat;
            }
        }
    }
}
