.header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 4.8rem;
    background: $main-bg-color;
    box-sizing: border-box;
    z-index: $z-header;
    transition: transform 0.2s ease-in-out;
    padding-top: var(--statusBarHeight);
    transform: translateY(0);
    &.is-focus {
        position: sticky;
        // box-shadow: $shadow;
        &:after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #e7e7e7;
        }
    }
    &.up {
        transform: translateY(-100%);
        padding-bottom: var(--statusBarHeight);
        margin-bottom: calc(var(--statusBarHeight) * -1);
    }
    .header-inner {
        display: flex;
        min-height: 4.8rem;
        align-items: center;
        .header-left {
            min-width: 4.8rem;
            .header-title {
                padding-left: 1.6rem;
                font-size: 2.4rem;
                line-height: 2.9rem;
                text-align: left;
            }
        }
        .header-center {
            flex: 1;
            &.tit-ellipsis {
                max-width: calc(100% - 6.4rem);
            }
            .header-title {
                .tag {
                    display: block;
                    position: relative;
                    width: 100%;
                    text-align: left;
                    @include ellipsis(0);
                    height: 3.4rem;
                    &:before {
                        display: inline-flex;
                        content: '#';
                        width: 3.2rem;
                        height: 3.2rem;
                        margin-right: 0.8rem;
                        border: 1px solid #0f0ae3;
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;
                        color: #0f0ae3;
                    }
                }
            }
        }
        .header-right {
            display: inline-flex;
            min-width: 4.8rem;
            .btn-search,
            .btn-alarm {
                width: 2.4rem;
                height: 2.4rem;
                &:last-child {
                    margin-right: 1.6rem;
                }
            }
            .btn-search + .btn-alarm {
                margin-left: 0.8rem;
            }
        }
        &.search {
            padding-right: 1.6rem;
            box-sizing: $sizing;

            .input-box {
                &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 1.6rem;
                    width: 1.6rem;
                    height: var(--input-height);
                    @include bg($src: '../images/ico/ico_ip_sch.png');
                    background-size: contain;
                }
                input {
                    padding-left: 3.6rem;
                }
            }
            .header-right {
                min-width: auto;
            }
        }
    }
    .flex-center {
        .header-title {
            width: auto;
        }
    }
    .header-title {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: $bold;
        line-height: 2.4rem;
        vertical-align: middle;
        & > * {
            width: 4.8rem;
        }
        &.logo {
            display: flex;
            width: 6.9rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    a,
    button {
        display: block;
        width: 4.8rem;
        height: 4.8rem;
        &.btn-ghost {
            width: 6.8rem;
            margin-right: 1.1rem;
            line-height: 4.8rem;
            font-size: 1.4rem;
        }
    }
    .tab-wrap {
        a,
        button {
            width: auto;
        }
    }

    .tab-items {
        margin: 0;
        ul {
            padding: 0 3.2rem 0 1.6rem;
        }
        li {
            a {
                box-shadow: none;
            }
        }
        &:after {
            background: linear-gradient(270deg, #f4f8ff 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
}
