.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 4.8rem;
    background: $main-bg-color;
    box-sizing: border-box;
    z-index: $z-header;
    transition: top 0.2s ease-in-out;
    &.up {
        top: -4.8rem;
    }
    .header-inner {
        display: flex;
        height: 100%;
        align-items: center;
        .header-left {
            min-width: 4.8rem;
            .header-title {
                padding-left: 1.6rem;
                text-align: left;
            }
        }
        .header-center {
            flex: 1;
        }
        .header-right {
            min-width: 4.8rem;
        }
        &.search {
            padding-right: 1.6rem;
            box-sizing: $sizing;

            .input-box {
                &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 1.6rem;
                    width: 1.6rem;
                    height: 1.6rem;
                    @include bg($src: '../images/ico/ico_s_search.svg');
                    transform: translateY(-50%);
                }
                input {
                    padding-left: 3.6rem;
                }
            }
        }
    }

    .header-title {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: $bold;
        line-height: 2.4rem;
        & > * {
            width: 4.8rem;
        }
    }

    a,
    button {
        display: block;
        width: 4.8rem;
        height: 4.8rem;
        &.btn-ghost {
            width: 6.8rem;
            margin-right: 1.1rem;
            line-height: 4.8rem;
            font-size: 1.4rem;
        }
    }
}
