html,
body {
    min-width: $min-width;
    height: 100%;
    background-color: $main-bg-color;
}
body {
    color: $base-color;
    font-weight: $normal;
    &.lock-body {
        overflow: hidden;
    }
}

body.login {
    background-color: #000;
}

.contents {
    padding: 4.8rem 0 9.4rem;
    box-sizing: $sizing;
    .section:last-child {
        padding-bottom: 7.2rem;
    }
}

.section {
    padding: 2.4rem 0;
    box-sizing: $sizing;

    .inner {
        margin: 0 1.6rem;
    }
}
