html,
body {
    min-width: $min-width;
    height: 100%;
    background-color: $main-bg-color;
}
body {
    color: $base-color;
    font-weight: $normal;
    &.popup-open,
    &.lock-body {
        overflow: hidden;
    }
}

body.login {
    background-color: #000;
}

.search-header {
    & + .serach-content {
        padding-top: 10.4rem;
    }
}

.contents {
    padding-bottom: 9.4rem;
    box-sizing: $sizing;
}

.section {
    box-sizing: $sizing;

    & + .section {
        margin-top: 2rem;
    }
    &:last-child {
        padding-bottom: 7.2rem;
    }
}

.inner {
    padding: 0 1.6rem;
}

.quick_top {
    display: none;
    position: fixed;
    bottom: 10rem;
    right: 1.6rem;
    transition: bottom 0.3s ease;
    font-size: 0;

    .btn-top {
        display: block;
        position: relative;
        width: 5.2rem;
        height: 5.2rem;
        padding-top: 1.6rem;
        background: #fff;
        border-radius: 50%;
        border: 1px solid #cfcfcf;
        box-sizing: $sizing;
        box-shadow: $shadow;
        font-size: 0.8rem;

        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 1.2rem;
            left: 50%;
            width: 1.6rem;
            height: 1.6rem;
            transform: translateX(-50%);
            @include bg($src: '../images/ico/ico_arrow_top.svg');
        }
    }
}
