.layerpopup-box {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition-duration: 0.6s;

    &.is-active {
        display: block;
        z-index: $z-layer;

        .layer-popup {
            bottom: 0;
            z-index: $z-layer + 1;
        }

        &.is-animation {
            background-color: rgba(0, 0, 0, 0.5);
            transition-property: background-color;
            transition-duration: 0.6s;
            .layer-popup {
                transform: translateY(0);
            }
        }
    }

    &.full {
        box-sizing: $sizing;
        &:not(.like-not-full) {
            padding-top: var(--statusBarHeight);
            .layer-header {
                padding-top: var(--statusBarHeight);
            }
        }
        .layer-popup {
            padding: 0;
            max-width: 100%;
            box-shadow: none;
        }
        &.is-active {
            .layer-popup {
                min-height: 100%;
                border-radius: 0;
            }
            &.is-animation {
                background-color: transparent;
                transition: none;
            }
        }
        .layer-popup {
            transform: none;
            transition: none;
            &.login-box {
                padding: 0;
                .layer-header {
                    position: sticky;
                    padding: 0;
                }
                .layer-content {
                    padding: 0 0 7.2rem;
                }
                .btn-bottom-box {
                    background: transparent;
                }
            }
        }
        .layer-header {
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 4.8rem;
            align-items: center;
            border-radius: 0;
            .btn-close {
                width: 100%;
                height: 100%;
            }
        }
        .header-inner {
            display: flex;
            width: 100%;
            height: 100%;

            align-items: center;
            .header-left {
                display: flex;
                min-width: 4.8rem;
                h1,
                .header-title {
                    padding-left: 1.6rem;
                    text-align: left;
                }
            }
            .header-center {
                display: flex;
                flex: 1;
                justify-content: center;
            }
            .header-right {
                width: 4.8rem;
                height: 4.8rem;
            }
        }
        .layer-content {
            padding: 0;
            padding-bottom: 7.2rem;
        }
        .btn-bottom-box {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            margin-top: 0;
            padding: 1.6rem;
            background: #fff;
        }
        &.comment {
            .layer-content {
                padding-bottom: 9.6rem;
            }
        }
    }
    &.msg {
        &.is-active {
            &.is-animation {
                .layer-popup {
                    left: 50%;
                    top: 50%;
                    bottom: auto;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .layer-popup {
            transition: none;
        }
    }
    &.bottom {
        .layer-popup {
            max-width: 100%;
            // max-height: 100%;
            height: auto;
            padding: 0;
        }
        .layer-header {
            padding: 2rem 1.6rem 0 1.6rem;
        }
        .layer-content {
            padding-bottom: 2.4rem;
        }
        .btn-bottom-box {
            background: #fff;
        }
    }

    &.full.body-layer {
        position: relative;
        height: auto;
        overflow: visible;
        min-height: -vh(100, var(--statusBarHeight));
        .layer-popup {
            position: relative;
            transform: none !important;
            min-height: -vh(100);
        }
        .layer-header {
            position: fixed;
            z-index: 21;
        }
        .layer-content {
            padding-top: 4.8rem;
            overflow: visible;
        }
    }
}

.layer-popup {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    max-width: 100%;
    min-height: 10%;
    max-height: 70%;
    padding: 2rem 1.6rem;
    border-radius: 30px 30px 0 0;
    isolation: isolate;
    background: #fff;
    font-size: 18px;
    transform: translateY(100%);
    transition: transform 0.2s;
    box-sizing: border-box;
    box-shadow: $shadow;

    .layer-header {
        display: flex;
        justify-content: space-between;
        background: #fff;
        border-radius: 4rem 4rem 0 0;
        box-sizing: $sizing;
        .btn-back {
            width: 4.8rem;
            height: 4.8rem;
        }
        .pop-title {
            font-size: 2rem;
            line-height: 2.4rem;
        }
        .btn-close {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
    .layer-content {
        min-height: 14rem;
        overflow: hidden;
        overflow-y: auto;
        padding: 1.6rem 0;
        background: #fff;
        box-sizing: $sizing;
    }
    .layer-inner {
        padding: 0 1.6rem;
    }

    .btn-box {
        display: flex;
        margin-top: auto;
        background: #fff;
        box-sizing: $sizing;
        gap: 1.6rem;
        .btn {
            background-color: #fff;
            border: 0;
            font-weight: $normal;
            border: 1px solid $main-color;
            color: #ff5c00;
            &.btn-primary {
                background-color: $main-color;
                color: #fff;
            }
            &.btn-disprimary {
                border: none;
            }
        }
        & > * + * {
            margin: 0;
        }
    }
    &.msg-box,
    &.confirm-box {
        width: calc(100% - 3.2rem);
        padding: 3.6rem 1.6rem 1.6rem;
        border-radius: 8px;
        box-shadow: 0px 4px 12px 0px #14245b2e;
        box-sizing: $sizing;
        border-radius: 3.2rem;
        text-align: center;
        .title-box {
            margin-bottom: 0.8rem;
        }
        .msg {
            padding: 0 2.4rem;
            font-size: 1.6rem;
            font-weight: $normal;
            text-align: center;
            line-height: 2.3rem;
        }
        .btn-box {
            margin-top: 2.4rem;
        }
    }
    &.confirm-box {
        padding: 3.6rem 2.5rem 1.6rem;
        .msg {
            padding: 0;
            font-size: 1.6rem;
            line-height: 2.3rem;
        }
        .btn-box {
            margin-top: 3.6rem;
        }
    }
    .layer-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
.toast-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 3rem;
    pointer-events: none;
    z-index: 999;
    &.top {
        top: 5rem;
    }
    &.bottom {
        bottom: 5rem;
    }
    .layerpopup-box.full.body-layer ~ & {
        position: fixed;
        left: 0;
        width: 100%;
    }
}
.toastPop {
    display: none;
    width: auto;
    .toast-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 1.4rem 1.6rem;
        border-radius: 1.6rem;
        background: rgba(17, 17, 17, 0.6);
        box-sizing: $sizing;
    }
    .toastMsg {
        font-size: 1.4rem;
        line-height: 2rem;
        color: #fff;
        &.check {
            position: relative;
            padding-left: 3.4rem;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 2.4rem;
                height: 2.4rem;
                @include bg($src: '../images/ico/ico_w_check.png', $po: center);
                background-size: 2.4rem;
                transform: translateY(-50%);
            }
        }
        &.warning {
            position: relative;
            padding-left: 3.4rem;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 2.4rem;
                height: 2.4rem;
                @include bg($src: '../images/ico/ico_w_warning.png', $po: center);
                background-size: 2.4rem;
                transform: translateY(-50%);
            }
        }
    }
    .btn-close {
        @include bg($src: '../images/btn/btn_close.png');
    }
    &.is-end {
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
    }
    & + .toastPop {
        margin-top: 2rem;
    }
}

.msg-box {
    .lottie-box {
        width: 42vw;
        height: 42vw;
        margin: 0 auto 1.6rem;
    }
    .info-box {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        .check {
            font-size: 0;
            dt {
                color: #585858;
            }
            .body-title {
                color: $main-color;
            }
        }
    }
    .info-list-box {
        li {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 6.8rem;
            align-items: start;
            p {
                line-height: 2.3rem;
            }
            span {
                font-size: 1.2rem;
                line-height: 1.7rem;
                color: #585858;
            }
            &::before {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 1.6rem;
                width: 3.6rem;
                height: 3.6rem;
                background-color: $main-color;
                border-radius: 50%;
                background-size: 2.4rem;
            }
            &.camera {
                &::before {
                    @include bg($src: '../images/ico/ico_w_camera.png');
                }
            }
            &.photo {
                &::before {
                    @include bg($src: '../images/ico/ico_w_photo.png');
                }
            }
            &.alarm {
                &::before {
                    @include bg($src: '../images/ico/ico_w_alarm.png');
                }
            }
            & + li {
                margin-top: 2.4rem;
            }
        }
    }
    .btn-box {
        gap: 0.8rem;
    }
}
