.layerpopup-box {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: $z-layer;

    &.bottom {
        .layer-popup {
            top: auto;
            left: 0;
            bottom: 0;
            height: 0px;
            border-radius: 4rem 4rem 0 0;
            transform: none;
        }
    }
}

.layer-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    background: #fff;
    transform: translate(-50%, -50%);
    .layer-header {
        background: $main-color;
        h1 {
            color: #fff;
            font-weight: $normal;
        }
    }
    .btn-box {
        position: fixed;
        bottom: 1.6rem;
        left: 1.6rem;
        right: 1.6rem;

        .btn {
            background: #fff;
            border: 0;
            font-weight: $normal;
            box-shadow: $shadow;
            color: #111;
        }
    }
    &.msg-box {
        width: calc(100% - 3.2rem);
        min-height: 16.5rem;
        padding: 3.6rem 1.6rem 1.6rem;
        border-radius: 8px;
        box-shadow: 0px 4px 12px 0px #14245b2e;
        box-sizing: $sizing;
        border-radius: 3.2rem;
        .title-box {
            position: relative;
            height: 38px;
            padding-bottom: 6px;
            border-bottom: 1px solid #ddd;
            h1 {
                font-size: 20px;
                color: $main-color;
                line-height: 38px;
            }
            .btn-close {
                position: absolute;
                right: 2.4rem;
                top: 2.4rem;
                width: 2.4rem;
                height: 2.4rem;
                font-size: 0;
                text-indent: -9999em;
            }
        }
        .msg {
            padding: 0 2.4rem;
            font-size: 1.6rem;
            font-weight: $normal;
            text-align: center;
            line-height: 2.3rem;
        }
    }
}
.toast-wrap {
    position: fixed;
    left: 50%;
    width: calc(100% - 4rem);
    min-height: 3rem;
    transform: translateX(-50%);
    pointer-events: none;
    &.top {
        top: 5rem;
    }
    &.bottom {
        bottom: 5rem;
    }
}
.toast-inner {
    position: relative;
    width: 100%;
    height: auto;
}
.toastPop {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    // position: fixed;
    // left: 50%;
    // top: 5rem;
    // transform: translate(-50%, 0);
    // z-index: 1000;
    .toast-box {
        position: relative;
        width: 100%;
        min-height: 4rem;
        padding: 1.4rem 1.6rem;
        border-radius: 1.6rem;
        background: rgba(17, 17, 17, 0.6);
        box-sizing: $sizing;
    }
    .toastMsg {
        font-size: 1.4rem;
        line-height: 2rem;
        color: #fff;
    }
    .btn-close {
        @include bg($src: '../images/btn/btn_close.svg');
    }
    &.is-end {
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
    }
    & + .toastPop {
        margin-top: 2rem;
    }
}
