.layerpopup-box {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition-duration: 0.6s;

    &.is-active {
        display: block;
        z-index: $z-layer;

        .layer-popup {
            bottom: 0;
        }

        &.is-animation {
            background-color: rgba(0, 0, 0, 0.5);
            transition-property: background-color;
            transition-duration: 0.6s;
            .layer-popup {
                transform: translateY(0);
            }
        }
    }

    &.full {
        &.is-active {
            .layer-popup {
                min-height: 100%;
                border-radius: 0;
            }
        }
    }
    &.msg {
        &.is-active {
            &.is-animation {
                .layer-popup {
                    left: 50%;
                    top: 50%;
                    bottom: auto;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .layer-popup {
            transition: none;
        }
    }
}

.layer-popup {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 10vh;
    max-height: 80vh;
    padding: 2rem 1.6rem;
    border-radius: 30px 30px 0 0;
    isolation: isolate;
    background: #fff;
    font-size: 18px;
    transform: translateY(100%);
    transition: transform 0.2s;
    box-sizing: border-box;
    box-shadow: $shadow;

    .layer-header {
        display: flex;
        justify-content: space-between;
        background: #fff;
        border-radius: 4rem 4rem 0 0;
        box-sizing: $sizing;

        .pop-title {
            font-size: 2rem;
            line-height: 2.4rem;
        }
        .btn-close {
            width: 2.4rem;
        }
    }
    .layer-content {
        min-height: 14rem;
        overflow: hidden;
        overflow-y: auto;
        padding: 1.6rem 0;
        background: #fff;
        box-sizing: $sizing;
    }
    .btn-box {
        display: flex;
        margin-top: auto;
        background: #fff;
        box-sizing: $sizing;
        gap: 1.6rem;
        .btn {
            background: #fff;
            border: 0;
            font-weight: $normal;
            box-shadow: $shadow;
            color: #111;
        }
        & > * + * {
            margin: 0;
        }
    }
    &.msg-box {
        width: calc(100% - 3.2rem);
        min-height: 16.5rem;
        padding: 3.6rem 1.6rem 1.6rem;
        border-radius: 8px;
        box-shadow: 0px 4px 12px 0px #14245b2e;
        box-sizing: $sizing;
        border-radius: 3.2rem;
        text-align: center;
        .title-box {
            margin-bottom: 0.8rem;
        }
        .msg {
            padding: 0 2.4rem;
            font-size: 1.6rem;
            font-weight: $normal;
            text-align: center;
            line-height: 2.3rem;
        }
    }
}
.toast-wrap {
    position: fixed;
    left: 50%;
    width: calc(100% - 4rem);
    min-height: 3rem;
    transform: translateX(-50%);
    pointer-events: none;
    &.top {
        top: 5rem;
    }
    &.bottom {
        bottom: 5rem;
    }
}
.toastPop {
    display: none;
    width: 100%;
    .toast-box {
        position: relative;
        width: 100%;
        min-height: 4rem;
        padding: 1.4rem 1.6rem;
        border-radius: 1.6rem;
        background: rgba(17, 17, 17, 0.6);
        box-sizing: $sizing;
    }
    .toastMsg {
        font-size: 1.4rem;
        line-height: 2rem;
        color: #fff;
    }
    .btn-close {
        @include bg($src: '../images/btn/btn_close.svg');
    }
    &.is-end {
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
    }
    & + .toastPop {
        margin-top: 2rem;
    }
}
