html,
body {
    // min-width: $min-width;
    width: 100%;
    height: 100vh;
    background-color: $main-bg-color;
}
body {
    color: $base-color;
    font-weight: $normal;
    &.popup-open,
    &.lock-body {
        overflow: hidden;
    }
    // padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
    // padding-top: env(safe-area-inset-top); /* iOS 11+ */
}

.wrap {
    width: 100%;
    &.lock-wrap {
        overflow: hidden;
    }
}

body.login {
    background-color: #000;
}

.search-header {
    & + .serach-content {
        padding-top: 10.4rem;
    }
}

.serach-content {
    .section {
        &:first-child {
            margin-top: 0.8rem;
        }
    }
    .btn-more {
        color: #585858;
    }
}

.contents {
    // padding-bottom: 2.4rem;
    box-sizing: $sizing;
}

.section {
    margin-top: 2.4rem;
    box-sizing: $sizing;

    & + .section {
        margin-top: 2.4rem;
    }

    &:last-child {
        padding-bottom: 2.4rem;
    }
}

.inner {
    padding: 0 1.6rem;
}

.img {
    @include imgCenter();
}

.quick_top {
    display: none;
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    transition: bottom 0.3s ease;
    font-size: 0;
    z-index: 100;
    .btn-top {
        display: block;
        position: relative;
        width: 5.2rem;
        height: 5.2rem;
        padding-top: 1.6rem;
        background: #fff;
        border-radius: 50%;
        border: 1px solid #cfcfcf;
        box-sizing: $sizing;
        box-shadow: $shadow;
        font-size: 0.8rem;
        z-index: 100;

        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 1.2rem;
            left: 50%;
            width: 1.6rem;
            height: 1.6rem;
            transform: translateX(-50%);
            @include bg($src: '../images/ico/ico_arrow_top.svg');
        }
    }
}
