//로그인 및 회원가입 페이지
.user-search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    margin-top: 4.3rem;
    .image {
        width: 100%;
        height: 21.2rem;
        @include bg($src: '../images/img/img_no_search.png');
        background-size: contain;
    }
    .body-title {
        text-align: center;
    }
    .card {
        align-self: stretch;
        margin: 0 2.4rem;
        padding: 1.6rem;
        border-radius: 2.4rem;
        background-color: #fff;
        font-size: $fs-14;
        text-align: center;
        color: $dis-color;
        line-height: 1.9rem;
        box-shadow: $shadow;
        strong {
            font-size: $fs-16;
            color: $base-color;
            line-height: 2.3rem;
        }
        + .body-title {
            color: $dis-color;
        }
    }
    &.complete {
        margin-top: 1.2rem;
        .image {
            height: 20.8rem;
            @include bg($src: '../images/img/img_found.png');
        }
    }
}
//약관동의
.agreement-box {
    margin-top: 1.4rem;
    .agree-chk-grp {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        padding: 1.6rem;
        border-radius: 0 0 1.6rem 1.6rem;
        background-color: #fff;
        box-shadow: $shadow;
        z-index: 10;
        > li {
            position: relative;
            box-sizing: border-box;
            > .chk-box {
                display: flex;
                width: 100%;
                label {
                    width: 100%;
                }
                &::after {
                    content: '';
                    display: inline-block;
                    width: 1.6rem;
                    height: 1.6rem;
                    @include bg($src: '../images/ico/ico_s_right.svg');
                    background-size: cover;
                }
            }
            .sub-chk-list {
                display: flex;
                gap: 2.4rem;
                margin-top: 0.8rem;
                padding-left: 2.4rem;
                label {
                    font-size: $fs-14;
                }
            }
        }
    }
    .chk-in-all {
        margin-bottom: 1px;
        .chk-box {
            display: flex;
            padding: 1.6rem;
            border-radius: 1.6rem 1.6rem 0 0;
            background-color: #fff;
            box-shadow: $shadow;
        }
        label {
            width: 100%;
        }
    }
}
//회원가입
.profile-box {
    display: flex;
    justify-content: center;
    .prf-img {
        position: relative;
        img {
            width: 10.4rem;
            height: 10.4rem;
        }
        .prf-apply {
            position: absolute;
            bottom: -0.8rem;
            right: -0.8rem;
            width: 4.4rem;
            height: 4.4rem;
            @include bg($src: '../images/btn/btn_pf_pic.png');
            background-size: cover;
        }
    }
}
.address-box {
    display: flex;
    gap: 0.4rem;
    margin-bottom: 0.4rem;
    .input-box {
        width: auto;
    }
    .btn {
        width: 9.6rem;
    }
}
