//로그인 팝업
.login-box {
    background-color: rgb(255, 224, 206);

    .layer-header,
    .layer-content,
    .btn-box {
        background: transparent;
    }
    .log-visu-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        padding: 1.6rem 0 2.4rem;
        .visu-img {
            width: 30rem;
            height: 19.6rem;
            @include bg($src: '../images/img/img_login_logo.png');
            background-size: cover;
        }
        p {
            font-size: 1.2rem;
            line-height: 1.7rem;
            color: $main-color;
        }
    }
    .log-content-wrap {
        padding: 0 2.5rem 9.4rem;
    }
    .form-box {
        .input-box {
            &::before {
                top: 1rem;
            }
        }
        input {
            height: 4.4rem;
        }
        a {
            top: 1rem;
        }
        .btn-box {
            padding: 0;
            padding-top: 1.6rem;
        }
    }

    .option-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.6rem;
        margin-top: 0.8rem;
        label {
            font-size: 1.4rem;
        }
        .right {
            display: flex;
            gap: 0.8rem;
            .btn-txt {
                padding: 0.8rem;
                font-size: 1.4rem;
            }
        }
    }
    .social-box {
        margin-top: 1.6rem;
        ul {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
        li {
            position: relative;
            width: 4.8rem;
            height: 4.8rem;
            background-size: contain;
            a {
                display: block;
                width: 100%;
                height: 100%;
                box-shadow: $shadow;
                border-radius: 1.2rem;
            }
            &.last {
                &::before {
                    content: '';
                    position: absolute;
                    left: 1.7rem;
                    bottom: -1.2rem;
                    display: block;
                    width: 1.4rem;
                    height: 1.2rem;
                    @include bg($src: '../images/ico/ico_box_tail.svg');
                    z-index: 5;
                }
                &::after {
                    content: '마지막으로 로그인한 계정이예요!';
                    position: absolute;
                    bottom: -5.2rem;
                    left: -3.3rem;
                    display: block;
                    width: 11.5rem;
                    height: 4.8rem;
                    padding: 1rem 1.6rem;
                    border-radius: 0.8rem;
                    background-color: #fff;
                    font-size: 1rem;
                    line-height: 1.4rem;
                    text-align: center;
                    box-shadow: $shadow;
                    box-sizing: border-box;
                }
            }
            &.kakao {
                @include bg($src: '../images/btn/btn_kakao.png');
            }
            &.naver {
                @include bg($src: '../images/btn/btn_naver.png');
            }
            &.google {
                @include bg($src: '../images/btn/btn_google.png');
            }
            &.apple {
                @include bg($src: '../images/btn/btn_apple.png');
            }
        }
    }
    .layer-content {
        flex: 1;
    }
    .btn-bottom-box {
        background: transparent;
    }
}

//아이디,비밀번호 찾기
.user-idpw-box {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    &.align-left {
        align-items: flex-start;
    }

    &.pass {
        padding-top: 10rem;
    }
    .image {
        width: 100%;
        height: 21.2rem;
        @include bg($src: '../images/img/img_no_search.png');
        background-size: contain;
    }
    .title-box {
        .title {
            margin: 0;
        }
        .body-sub-title {
            margin-top: 0.4rem;
        }
    }
    .user-sch-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        align-self: stretch;
        margin: 0 2.4rem;
        padding: 1.6rem;
        border-radius: 2.4rem;
        background-color: #fff;
        font-size: $fs-14;
        text-align: center;
        color: $dis-color;
        line-height: 1.9rem;
        box-shadow: $shadow;
        strong {
            font-size: $fs-16;
            color: $base-color;
            line-height: 2.3rem;
        }
        + .body-title {
            color: $dis-color;
        }
        &:before {
            display: none;
            content: '';
            position: absolute;
            top: 1.6rem;
            left: 50%;
            transform: translateX(-50%);
            width: 4.8rem;
            height: 4.8rem;
            background-size: cover;
        }

        &.kakao {
            position: relative;
            padding-top: 7.2rem;
            &::before {
                display: block;
                @include bg($src: '../images/btn/btn_kakao.png');
            }
        }
        &.naver {
            position: relative;
            padding-top: 7.2rem;
            &::before {
                display: block;
                @include bg($src: '../images/btn/btn_naver.png');
            }
        }
        &.google {
            position: relative;
            padding-top: 7.2rem;
            &::before {
                display: block;
                @include bg($src: '../images/btn/btn_google.png');
            }
        }
        &.apple {
            position: relative;
            padding-top: 7.2rem;
            &::before {
                display: block;
                @include bg($src: '../images/btn/btn_apple.png');
            }
        }
    }
    &.complete {
        align-items: center;
        margin-top: 1.2rem;
        .image {
            height: 20.8rem;
            @include bg($src: '../images/img/img_found.png');
        }
    }
    .form-box {
        width: 100%;
        // margin-top: 0.8rem;
    }
    & + .btn-bottom-box {
        .btn-default {
            border: 1px solid $main-color;
        }
    }
}
//약관동의
.agreement-box {
    margin-top: 2.4rem;
    .agree-chk-grp {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        padding: 1.6rem 0;
        border-radius: 1.6rem;
        background-color: #fff;
        box-shadow: $shadow;
        z-index: 10;
        li {
            display: flex;
            align-items: center;
            padding: 0 1.6rem;
            box-sizing: border-box;
            .chk-box {
                flex: 1;
                label {
                    line-height: 2.3rem;
                    &:before {
                        top: 0.25rem;
                    }
                }
            }
            .btn-right {
                width: 2.3rem;
                height: 2.3rem;
                @include bg($src: '../images/ico/ico_s_right.svg');
            }
            .sub-chk-list {
                display: flex;
                gap: 2.4rem;
                margin-top: 0.8rem;
                padding-left: 2.4rem;
                label {
                    font-size: $fs-14;
                }
            }
            &.chk-all {
                padding-bottom: 1.2rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
}
//회원가입 기본정보
.profile-box {
    display: flex;
    justify-content: center;
    margin-bottom: 2.4rem;
    .prf-img {
        position: relative;
        img {
            width: 10.4rem;
            height: 10.4rem;
            border-radius: 50%;
            overflow: hidden;
        }
        .prf-apply {
            position: absolute;
            bottom: -0.8rem;
            right: -0.8rem;
            width: 4.4rem;
            height: 4.4rem;
            @include bg($src: '../images/btn/btn_pf_pic.png');
            background-size: cover;
        }
    }
}
.user-info-card {
    width: 100%;
    margin-bottom: 1.6rem;
    padding: 1.6rem;
    border-radius: 3.2rem;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    box-sizing: border-box;
    dl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
    }
    dd {
        color: $dis-color;
    }
}
.address-box {
    display: flex;
    gap: 0.4rem;
    margin-bottom: 0.4rem;
    .input-box {
        width: auto;
        flex: 1;
    }
    .btn {
        width: 9.6rem;
    }
}

//관심 카테고리 페이지
.category-box {
    width: 100%;
    margin-top: 0.5rem;
    box-sizing: border-box;
    .cell-row {
        display: flex;
        justify-content: space-around;
        + .cell-row {
            margin-top: 2.4rem;
        }
    }
    .ctg-cell {
        position: relative;
        width: 10.4rem;
        text-align: center;
        i {
            position: relative;
            display: block;
            width: 10.4rem;
            height: 10.4rem;
            margin-bottom: 0.8rem;
            border-radius: 5.2rem;
            background-size: 10.4rem;
            box-sizing: border-box;
            &.kpop {
                @include bg($src: '../images/img/img_category_01.png');
            }
            &.hiphop {
                @include bg($src: '../images/img/img_category_02.png');
            }
            &.soul {
                @include bg($src: '../images/img/img_category_03.png');
            }
            &.pop {
                @include bg($src: '../images/img/img_category_04.png');
            }
            &.kids {
                @include bg($src: '../images/img/img_category_05.png');
            }
            &.tert {
                @include bg($src: '../images/img/img_category_06.png');
            }
            &.dance {
                @include bg($src: '../images/img/img_category_07.png');
            }
            &.jazz {
                @include bg($src: '../images/img/img_category_08.png');
            }
            &.all {
                @include bg($src: '../images/img/img_category_09.png');
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 10.4rem;
                background-color: #d3d3d3;
                opacity: 0.5;
            }
        }
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 15;
            &:checked {
                + i {
                    border: 2px solid #fff;
                    box-shadow: $shadow;
                    &::before {
                        opacity: 0;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 4rem;
                        left: 4rem;
                        display: block;
                        width: 2.4rem;
                        height: 2.4rem;
                        @include bg($src: '../images/ico/ico_w_check.svg');
                    }
                }
            }
        }
    }
}
//주소찾기 팝업
.address-result-box {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 1.6rem;
    .card {
        padding: 0;
        box-sizing: border-box;
        a {
            display: block;
            width: auto;
            height: 100%;
            padding: 1.6rem;
        }
        p {
            color: $placeholder-color;
        }
    }
    .no-data {
        display: none;
        font-size: 1.4rem;
        line-height: 2rem;
        color: $disabled-color;
    }
    &.nodata {
        .no-data {
            display: block;
        }
    }
}

//2023.08.25 PEK
.notific-list-box {
    margin: 1.6rem 0;
    .card {
        border-radius: 2.4rem;
        + .card {
            margin-top: 1rem;
        }
        .title-box {
            align-items: stretch;
            .body-title {
                flex: 1;
            }
        }
        .text-l {
            color: #707070;
        }
    }
    &.-notice {
        .card {
            .title-box {
                max-height: 4.6rem;
                .body-title {
                    max-height: 4.6rem;
                    @include ellipsis2();
                }
                .ico-new {
                    display: none;
                    width: 2rem;
                    height: 2rem;
                    margin-left: 0.2rem;
                    border-radius: 50%;
                    @include bg($src: '../images/ico/ico_o_new.svg');
                    box-shadow: $shadow;
                }
            }
            &.new {
                .ico-new {
                    display: block;
                }
            }
        }
    }
    &.-faq {
        .card {
            .ico-q-mark {
                margin-right: 0.8rem;
                color: $main-color;
                font-weight: 700;
            }
            .ico-a-mark {
                width: 2.6rem;
                color: #707070;
                font-weight: 700;
            }
            .sub-title {
                flex: 1;
            }
        }
    }
    &.-content {
        .card {
            padding: 0;
        }
        .title-box {
            padding: 1.6rem;
        }
        .card-body-content {
            display: flex;
            padding: 1.6rem;
            border-top: 1px solid #e7e7e7;
        }
    }
}
