.serach-content {
    // 최근검색어
    .sch-latest-area {
        .title-box {
            margin-top: 2.4rem;
        }
        li {
            display: flex;
            justify-content: space-between;
            height: 4rem;
            align-items: center;
            a {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 2.3rem;
            }
        }
        .btn-del {
            width: 2.4rem;
            height: 2.4rem;
            flex-shrink: 0;
        }
    }

    .sch-latest-list {
        margin-top: 1.6rem;
    }

    // 자동완성검색
    .sch-auto-area {
        margin-top: -0.8rem;
        li {
            display: flex;
            position: relative;
            height: 4rem;
            padding-left: 3.6rem;
            align-items: center;
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 50%;
                left: 1.2rem;
                width: 1.6rem;
                height: 1.6rem;
                @include bg($src: '../images/ico/ico_s_search.svg');
                transform: translateY(-50%);
            }
        }
        .r-word {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 2.3rem;
            color: #404040;
            span {
                font-weight: $bold;
            }
        }
    }

    .btn-box {
        .btn-all-del {
            flex: 1;
            font-weight: $bold;
            line-height: 1.9rem;
            color: $main-color;
        }
    }

    // 검색결과없음
    &.result-no {
        .sch-result-nodata {
            display: flex;
        }
        .sch-result-cont {
            display: none;
        }
    }
    .sch-result-nodata {
        display: none;
        justify-content: center;

        p {
            position: relative;
            margin-top: 11.2rem;
            line-height: 1.9rem;
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 4.3rem;
                left: 50%;
                transform: translateX(-50%);
                width: 21.2rem;
                height: 21.2rem;
                @include bg($src: '../images/img/img_no_search.png');
                background-size: cover;
            }
        }
    }
}
