.serach-content {
    // 최근검색어
    .sch-latest-area {
        .title-box {
            margin-top: 2.4rem;
        }
        li {
            display: flex;
            justify-content: space-between;
            height: 4rem;
            align-items: center;
            a {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 2.3rem;
            }
        }
        .btn-del {
            width: 2.4rem;
            min-width: 2.4rem;
            height: 2.4rem;
        }
    }

    // 자동완성검색
    .sch-auto-area {
        margin-top: -0.8rem;
        li {
            display: flex;
            position: relative;
            height: 4rem;
            padding-left: 3.6rem;
            align-items: center;
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 50%;
                left: 1.2rem;
                width: 1.6rem;
                height: 1.6rem;
                @include bg($src: '../images/ico/ico_s_search.svg');
                transform: translateY(-50%);
            }
        }
        .r-word {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 2.3rem;
            color: #404040;
            span {
                font-weight: $bold;
            }
        }
    }

    .btn-box {
        margin-top: 1.6rem;
        justify-content: center;
        height: 4rem;
        .btn-all-del {
            flex: 1;
            font-weight: $bold;
            line-height: 1.9rem;
            color: $main-color;
        }
    }

    // 검색결과없음
    &.result-no {
        .sch-nodata {
            display: flex;
        }
        .sch-result-cont {
            display: none;
        }
    }
    .sch-nodata {
        display: none;
        justify-content: center;
        position: relative;
        margin-top: 8.8rem;
        &:after {
            display: block;
            content: '';
            position: absolute;
            top: 4.3rem;
            left: 50%;
            transform: translateX(-50%);
            width: 21.2rem;
            height: 21.2rem;
            @include bg($src: '../images/img/img_no_search.png');
            background-size: cover;
        }
        p {
            line-height: 1.9rem;
        }
    }

    // 검색결과전체
    &.result-all {
        .category-area {
            &.card {
                padding: 0;
                border-radius: 2.4rem 0 0;
            }
            .title-box {
                display: flex;
                position: relative;
                height: 5.6rem;
                margin-bottom: 0;
                justify-content: space-between;
                align-items: center;
            }
            .btn-go {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-position: right;
            }
        }

        .challenge-box {
            ul {
                padding: 1.6rem;
                li {
                    min-width: 14.1rem;
                    height: 25.5rem;
                }
            }
            a {
                display: flex;
                width: 100%;
                flex-direction: column;
                .img {
                    width: 100%;
                    height: 18.8rem;
                    box-shadow: $shadow;
                    border-radius: 1.4rem;
                    overflow: hidden;
                    @include imgCenter();
                    img {
                        border-radius: 1.4rem;
                    }
                }
                .info {
                    margin-top: 0.8rem;
                    padding: 0 0.5rem;
                    span {
                        display: block;
                        position: relative;
                    }
                    .tag {
                        line-height: 2.3rem;
                        &:before {
                            display: inline-block;
                            content: '#';
                        }
                    }
                    .user-info {
                        display: flex;
                        align-items: center;
                        margin-top: 0.4rem;
                    }
                    .user-img {
                        position: relative;
                        width: 3.2rem;
                        height: 3.2rem;
                        margin-right: 0.4rem;
                        border-radius: 50%;
                        box-sizing: $sizing;
                        @include imgCenter();

                        &:after {
                            display: block;
                            content: '';
                            position: absolute;
                            top: -1px;
                            left: -1px;
                            width: calc(100% + 2px);
                            height: calc(100% + 2px);
                            border-radius: 50%;
                            border: 2px solid #fff;
                            box-sizing: $sizing;
                            box-shadow: $shadow;
                        }
                    }
                    .user-name {
                        height: 2rem;
                        line-height: 1.7rem;
                        color: #585858;
                        &:before {
                            display: inline-block;
                            content: '@';
                        }
                    }
                }
            }
            .vinyl {
                position: relative;
                a {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        display: block;
                        align-self: center;
                        width: 66.6%;
                        height: 100%;
                        @include bg($src: '../images/img/img_vinyl.png', $po: top);
                        background-size: contain;
                    }
                }

                .img {
                    height: 14.1rem;
                    margin-top: 4.7rem;
                }
            }
        }

        .list-box {
            li {
                display: flex;
                padding: 0.8rem 1.6rem 0.8rem 0.8rem;
                border-radius: 2.4rem;
                box-shadow: $shadow;
                box-sizing: $sizing;
                align-items: center;
                & + li {
                    margin-top: 1rem;
                }
            }

            a {
                flex: 1;
                display: flex;
            }
            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 0.8rem;
                strong {
                    font-weight: $normal;
                }
                span {
                    font-size: 1.2rem;
                    line-height: 1.7rem;
                    color: #585858;
                }
            }
            &.sound {
                li {
                    justify-content: space-between;
                }
                .img {
                    width: 5.6rem;
                    height: 5.6rem;
                    img {
                        border-radius: 1.6rem;
                    }
                }
            }
            &.user {
                li {
                    border: 1px solid #e7e7e7;
                }
                .img {
                    width: 4.8rem;
                    height: 4.8rem;
                    img {
                        border-radius: 50%;
                    }
                }
            }
        }
        .tag-list-box {
            ul {
                display: flex;
                flex-wrap: wrap;

                gap: 1rem;
            }
            a {
                display: flex;
                position: relative;
                align-items: center;
                height: 3.2rem;
                padding: 0 1.6rem;
                border-radius: 1.6rem;
                border: 1px solid rgba(255, 255, 255, 0.6);
                background: #fff;
                box-shadow: $shadow;
                line-height: 2.3rem;
                box-sizing: $sizing;
                &:before {
                    display: inline-block;
                    content: '#';
                }
            }
        }
    }
    // 검색결과 개별
    .result-cont {
    }
}
