@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Nanum+Gothic');

body {
	font-family: 'Noto Sans KR', 'Nanum Gothic', sans-serif;
}
.popover img{width:300px;}
label {
	margin: 0;
}
 
.text-red {
	color: red;
}

.total-row {
	background-color: #f8f9fc;
	color:blue;
}

.breadcrumb {
	font-size: 12px;
}

.breadcrumb .breadcrumb-item:last-child {
	font-size: 12px;
	color: #4e73df !important;
	font-weight: 700 !important;
}

.highlight-row {
	background-color:#f8f9fc;
}

/* �뀒�씠釉� */
.table {
	width:100%;
}

/* label */
.col-form-label.required strong:after,
.col-form-label.required span:after,
.form-group.required label:after {
	content: "*";
	color: red;
}

/* datatable */
.bootstrap-table .fixed-table-loading {
	display: none !important;
}
.fixed-table-pagination.pagination-bottom .pagination-detail {
	display: none !important;
}
.fixed-table-pagination.pagination-top .pagination {
	display: none !important;
}
.fixed-table-pagination.pagination-bottom>.pagination {
	width: 100%;
}
.fixed-table-pagination.pagination-bottom ul.pagination {
	margin: 0 auto !important;
}

/* datepicker & email */
.datepicker {
	z-index: 999 !important;
}
#form .form-date {
	max-width: 150px !important;
	background-color: #fff !important;
}
.input-group .form-date,
.input-group .form-month,
.input-group .form-year {
	max-width: 120px !important;
	background-color: #fff !important;
}
.input-group .email {
	max-width: 150px !important;
	background-color: #fff !important;
}

.btn {
	cursor: pointer;
}

.summernote {
	border: 0;
	height: 0;
}
.form-validate-summernote .note-editor.note-frame.is-invalid {
	border-color: #e74a3b;
}

.bs-checkbox label {
	margin: 0 !important;
}

/* loading */
.loading {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	z-index: 99999;
}
.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
#page-top .navbar-nav .sidebar-dark .nav-item .nav-link{color:#000000;}
.bg-gradient-eggs{
	background-color:#EEEFF9;
	background-image:linear-gradient(180deg, #EEEFF9 5%, #EEEFF9 100%);
	background-size:cover;
}
.sidebar-dark .nav-item .nav-link i
,.sidebar .nav-item .nav-link i
, .sidebar .nav-item .nav-link{/*color:rgba(0,0,0,.8);*/}
.sidebar .nav-item:hover, .sidebar .nav-item .nav-link:hover{/*color:rgba(0,0,0);*/}

.sidebar-dark .nav-item .nav-link i
,.sidebar .nav-item .nav-link i{/* color:rgba(255,171,74); */}

.sidebar .nav-item:hover .nav-link
, .sidebar .nav-item:hover .nav-link i
, .sidebar .nav-item:focus .nav-link
, .sidebar .nav-item:focus .nav-link i
, .sidebar .nav-item.active .nav-link
, .sidebar .nav-item.active .nav-link i
, .sidebar .nav-item .nav-link:hover
, .sidebar .nav-item .nav-link:focus
, .sidebar .nav-item .nav-link:active
, .sidebar-dark .nav-item .nav-link:active i
, .sidebar-dark .nav-item .nav-link:focus i
, .sidebar-dark .nav-item .nav-link:hover i
{
	/*color:rgba(255,171,74);*/
	font-weight:600;
}
.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
    /*color: rgba(0,0,0,.5);*/
}
.sidebar-dark #sidebarToggle::after {
    /*color: rgba(0,0,0,.5);*/
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active
{
	/*color:rgba(255,171,74);*/
	font-weight:600;
}

.sidebar .nav-item .collapse:hover
, .sidebar .nav-item .collapse:active
, .sidebar .nav-item .collapse:focus
, .sidebar .nav-item .collapse .collapse-inner:hover
, .sidebar .nav-item .collapse .collapse-inner:active
, .sidebar .nav-item .collapse .collapse-inner:focus
, .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover
, .sidebar .nav-item .collapse .collapse-inner .collapse-item:active
, .sidebar .nav-item .collapse .collapse-inner .collapse-item:focus
{
	font-weight:normal;
}