<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main_layout}">
<head>
<title>Error</title>
</head>
<th:block layout:fragment="content_body">
	<div class="text-center">
		<div class="error mx-auto mb-3" style="font-size: 3rem;" th:text="${header.responseMsg}">error msg</div>
		<div class="row">
			<div class="col-6" th:switch="${header.responseMsg}">
				<a th:case="403" href="/signin" class="btn btn-block btn-info">Login</a>
				<a th:case="404" href="/account/mypage" class="btn btn-block btn-info">My Page</a>
				<a th:case="*" href="javascript:history.back()" class="btn btn-block btn-info">Back</a>
			</div>
			<div class="col-6">
				<a href="/" class="btn btn-block btn-primary">Main</a>
			</div>
		</div>
	</div>
</th:block>
</html>