<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main_layout}">
<head>
<title>Logout</title>
</head>
<th:block layout:fragment="content_body">
	<div class="text-center">
		<!-- <p class="lead text-gray-800 mb-5">로그아웃 되었습니다.</p> -->
		<p class="lead text-gray-800 mb-5">세션이 만료 되었습니다.</p>
		<a class="btn btn-block btn-info" href="/signin">Login</a>
	</div>
</th:block>
</html>