<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main_layout}">
<head>
<title>LOG IN</title>
</head>
<th:block layout:fragment="content_body">
	<div class="row justify-content-center" id="signinSection">
		<div class="col" style="max-width: 400px;">
			<div class="text-center" style="margin-bottom: 30px;">
				<!-- <h1 class="h4 text-gray-900 mb-2">
					당부 관리자 <br /> 로그인
				</h1> -->
				<span style="font-weight: 800; letter-spacing: .05rem; color: #000000; font-size: 2rem">당부 파트너 사이트</span>
			</div>
			<form class="user" method="post" th:action="@{/signin}">
				<div class="form-group">
					<input type="text" class="form-control form-control-user" name="username" placeholder="아이디" autofocus autocomplete="off">
				</div>
				<div class="form-group">
					<input type="password" class="form-control form-control-user" name="password" placeholder="비밀번호">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
				</div>
			</form>
		</div>
	</div>
</th:block>
</html>