<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">당부 Admin</title>
<!-- CSS ---------------------------------------------------------------------------------------------------- -->
<!-- fontawesome -->
<link href="https://oauth.elesway.com/static/lib/fontawesome/css/all.min.css" rel="stylesheet">
<!-- sb-admin -->
<link href="https://oauth.elesway.com/static/theme/sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">
<!-- local -->
<link href="https://oauth.elesway.com/static/css/style.css" rel="stylesheet">

<!-- JS  ---------------------------------------------------------------------------------------------------- -->
<!-- device lib -->
<script src="https://oauth.elesway.com/static/lib/isMobile.min.js"></script>
<!-- jquery -->
<script src="https://oauth.elesway.com/static/lib/jquery/jquery.min.js"></script>
<!-- bootstrap -->
<script src="https://oauth.elesway.com/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jquery lib -->
<script src="https://oauth.elesway.com/static/lib/jquery-easing/jquery.easing.min.js"></script>
<script src="https://oauth.elesway.com/static/lib/jquery-dateformat.min.js"></script>
<!-- local -->
<script src="https://oauth.elesway.com/static/js/utils.js"></script>
<script src="https://oauth.elesway.com/static/js/commons.js"></script>
<script src="https://oauth.elesway.com/static/js/datatable.js"></script>
</head>
<body class="comtaner">
	<header class="header">
		<div class="p-3">
			<h1>당부</h1>
		</div>
	</header>
	<th:block layout:fragment="content_body"></th:block>
	<footer class="footer bg-dark text-white small">
		<div class="p-3">
			<div>이 메일은 발신 전용이므로 회신하실 수 없습니다. 궁금하신 사항은 고객센터로 문의해 주시기 바랍니다.</div>
			<div>
				E-mail 문의하기 :
				<span th:text="${replyEmail}"></span>
			</div>
			<div class="mt-2">&copy;COPYRIGHT UBIVELOX MOBILE CORP. ALL RIGHTS RESERVED.</div>
		</div>
	</footer>
</body>
</html>
