<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">파트너 Admin</title>
<th:block th:insert="fragments/common/common_header :: header"></th:block>
</head>
<body class="bg-gradient-primary">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-10 col-md-11 ">
				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<div class="p-5">
							<th:block layout:fragment="content_body"></th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
