<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">당부 파트너 관리</title>
<th:block th:insert="fragments/common/common_header :: header"></th:block>
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#FFCC00;">
			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/dashboard}">
				<div class="sidebar-brand-text mx-3">당부<br />파트너사이트</div>
			</a>

			<!-- Menu List-->
			<th:block th:each="menu : ${session.menu}">
				<th:block th:switch="${menu.kind}">
					<hr th:case="'HR'" class="sidebar-divider" />
					<div th:case="'HEAD'" class="sidebar-heading" th:text="${menu.title}">헤더</div>
					<th:block th:case="'ITEM'">
						<th:block th:if="${menu.hasSubmenu()}">
							<li class="nav-item" th:classappend="${menu.active ? 'active' : ''}">
								<a class="nav-link collapsed" th:id="|menu_item_${menu.menuSeq}|" th:href="${!#strings.isEmpty(menu.link) ? menu.link : '#'}" data-toggle="collapse" th:data-target="|#collapseMenu_${menu.menuSeq}|" th:target="${menu.target}">
									<i class="fas fa-fw" th:classappend="${menu.icon}"></i>
									<span th:text="${menu.title}">메뉴이름</span>
								</a>
								<div th:id="|collapseMenu_${menu.menuSeq}|" class="collapse" aria-labelledby="heading"  th:classappend="${menu.active ? 'show' : ''}">
									<div class="bg-white py-2 collapse-inner rounded">
										<a th:each="submenu : ${menu.subMenus}" th:id="|menu_item_${submenu.menuSeq}|" class="collapse-item" th:href="${!#strings.isEmpty(submenu.link) ? submenu.link : '#'}" th:text="${submenu.title}" th:target="${submenu.target}" th:classappend="${submenu.active ? 'active' : ''}">메뉴명</a>
									</div>
								</div>
							</li>
						</th:block>
						<th:block th:unless="${menu.hasSubmenu()}">
							<li class="nav-item" th:classappend="${menu.active ? 'active' : ''}">
								<a class="nav-link" th:href="${!#strings.isEmpty(menu.link) ? menu.link : '#'}" th:target="${menu.target}">
									<i class="fas fa-fw" th:classappend="${menu.icon}"></i>
									<span th:text="${menu.title}">메뉴이름</span>
								</a>
							</li>
						</th:block>
					</th:block>
				</th:block>
			</th:block>

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>
		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-2 static-top shadow">
					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>
					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">
						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow mx-1" th:if="${session.isAccessProductReqMenu == true}">
							<a class="nav-link" href="/product/reqAnalysis/list" id="" role="button">
								<i class="fas fa-search fa-fw"></i>
								<span class="badge badge-danger badge-counter" th:text="${session.productReqCount}" style="font-size:100%"></span>
							</a>
						</li>
						<li class="nav-item dropdown no-arrow mx-1" th:if="${session.isAccessQuestionMenu == true}">
							<a class="nav-link" href="/board/question/list" id="" role="button">
								<i class="fas fa-envelope fa-fw"></i>
								<span class="badge badge-danger badge-counter" th:text="${session.questionCount}" style="font-size:100%"></span>
							</a>
						</li>
						<div class="topbar-divider d-none d-sm-block" th:if="${session.isAccessProductReqMenu == true or session.isAccessQuestionMenu == true}"></div>
						<li class="nav-item dropdown no-arrow show">
			            	<a class="nav-link dropdown-toggle text-gray-600 small cursor" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			                	<span class="mr-2 d-none d-lg-inline" sec:authentication="principal.member.name">이름</span> (<span sec:authentication="principal.username">아이디</span>)
			              	</a>
			              	<!-- Dropdown - User Information -->
			            	<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
<!--		                		<a class="dropdown-item" th:href="@{/account/mypage}">-->
<!--		                  			<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--		                  			Profile-->
<!--		                		</a>-->
<!--			                	<div class="dropdown-divider"></div>-->
			                	<a class="dropdown-item" href="#logoutModal" data-toggle="modal" data-target="#logoutModal">
			                  		<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
			                  		Logout
			                	</a>
			              	</div>
			           </li>
					</ul>
				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<th:block layout:fragment="content_body"></th:block>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>&copy; COPYRIGHT UBIVELOX CORP. ALL RIGHTS RESERVED.</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Logout</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">로그아웃 하시겠습니까?</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
					<a class="btn btn-primary" th:href="@{/signout}">확인</a>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="fragments/common/common_script :: script"></th:block>
</body>
</html>
