.btn-box {
    display: flex;
    flex-wrap: nowrap;

    a,
    button {
        &.disabled,
        &:disabled {
            cursor: none;
            background-color: #cfcfcf;
            color: #585858;
            border: none;
        }
    }
    & > * + * {
        margin-left: 0.8rem;
    }
    & + :is(.btn-box) {
        margin-top: 0.8rem;
    }
}
.btn-bottom-box {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 0 1.6rem 2.4rem;
    margin-top: auto;
    box-sizing: border-box;
    z-index: 20;
    & > * + * {
        margin-left: 1.6rem;
    }
    a,
    button {
        height: 4.8rem;
    }
}

.btn,
.btn-default {
    @include btn();
}
.btn-default {
    color: $main-color;
}
.btn-primary {
    @include btn($bg: $main-color, $border: $main-color, $color: #fff);
}
.btn-outline {
    border: 1px solid $main-color;
    color: $main-color;
}
.btn-disprimary {
    @include btn($bg: #e7e7e7 !important, $color: #f50f00 !important);
    border: none;
    font-weight: $bold;
}
.btn-flat {
    @include btn($bg: #fff8f2, $color: $main-color);
    border: none;
}
.btn-ghost {
    @include btn($bg: none, $color: $main-color);
}

.btn-back {
    @include bg($src: '../images/btn/btn_back.png');
    background-size: 2.4rem;
    font-size: 0;
}

.btn-close {
    @include bg($src: '../images/btn/btn_close.svg', $po: center);
    font-size: 0;
}

.btn-search {
    @include bg($src: '../images/btn/btn_search.svg', $po: center);
    font-size: 0;
}
.btn-alarm {
    @include bg($src: '../images/ico/ico_alarm.svg', $po: center);
    font-size: 0;
}
.btn-del {
    @include bg($src: '../images/btn/btn_ip_delete.png');
    background-size: contain;
}
.btn-go {
    @include bg($src: '../images/ico/ico_s_right.svg', $po: center);
    width: 1.6rem;
    height: 1.6rem;
}

.btn-loadmore {
    @include bg($src: '../images/ico/ico_more2.svg', $po: left);
    padding-left: 2rem;
}

.btn-play {
    @include bg($src: '../images/ico/ico_w_play.png');
    background-size: 2.4rem auto;
    &.is-stop {
        @include bg($src: '../images/ico/ico_w_pause.png');
    }
}
.btn-share {
    @include bg($src: '../images/ico/ico_b_share.png');
    background-size: 2.4rem auto;
}
.btn-filter {
    @include bg($src: '../images/ico/ico_sort.png');
    background-size: 2.4rem auto;
}
.btn-follow {
    color: #fff;
    background-color: $main-color;
    border: 0;
    &.btn-primary {
        &.is-ing {
            background-color: #ffe0ce;
            border: 0;
            color: #111;
        }
    }
    &.is-ing {
        span {
            &:before {
                background: url('../images/ico/ico_check.svg') no-repeat center;
            }
        }
    }
    span {
        display: inline-block;
        position: relative;
        line-height: 2rem;
        padding-left: 1.6rem;
        box-sizing: border-box;
        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 1.6rem;
            height: 1.6rem;
            transform: translateY(-50%);
            background: url('../images/ico/ico_w_plus.png') no-repeat center;
            background-size: contain;
        }
    }
}
.btn-download {
    span {
        display: inline-block;
        position: relative;
        padding-left: 3.2rem;
        box-sizing: border-box;
        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 2.4rem;
            height: 2.4rem;
            transform: translateY(-50%);
            background: url('../images/ico/ico_w_download.svg') no-repeat center;
        }
    }
}
.btn-coment {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    @include bg($src: '../images/ico/ico_coment.svg');
}

.btn-set {
    @include bg($src: '../images/ico/ico_set.png');
    background-size: 2.4rem;
}

.btn-menu {
    @include bg($src: '../images/ico/ico_more.png');
    background-size: 2.4rem;
    // transform: rotate(-90deg);
}
