.btn-back {
    background: url('../../resources/images/btn/btn_back.svg') no-repeat left center;
    font-size: 0;
}

.btn-close {
    background: url('../../resources/images/btn/btn_close.svg') no-repeat right center;
    font-size: 0;
}
