.tab-wrap {
    // 기본 pill
    &.full {
        .tab-items {
            ul {
                padding: 0;
            }
            li {
                flex: 1;

                a,
                button {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
        }
        &.line {
            .tab-items {
                ul {
                    gap: 0;
                }
            }
        }
    }
    &.line {
        .tab-items {
            height: 3.6rem;
            &:after {
                display: none;
            }
            ul {
                gap: 1.6rem;
            }
            li {
                &.on {
                    a,
                    button {
                        color: #111;
                        &:after {
                            background-color: #111;
                        }
                    }
                }
                a,
                button {
                    position: relative;
                    height: auto;
                    padding: 0;
                    border: none;
                    background: none;
                    color: #585858;
                    box-shadow: none;
                    border-radius: 0;
                    box-sizing: $sizing;
                    line-height: 3.4rem;
                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0.2rem;
                        transition: background-color 0.3s ease;
                    }
                }
            }
        }
        .tab-content {
            margin-top: 0.8rem;
        }
    }
    &.box {
        .tab-items {
            height: 4rem;
            margin: 0;
            padding: 0.4rem;
            background: #fff;
            box-shadow: $shadow;
            border-radius: 1.6rem;
            ul {
                padding: 0;
                gap: 1.1rem;
            }
            &:after {
                display: none;
            }
            li {
                a,
                button {
                    padding: 0 3.7rem;
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }
}
.tab-items {
    position: relative;
    height: 5.6rem;
    margin: 0 -1.6rem;
    &:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 4.2rem;
        height: 100%;
        background: linear-gradient(270deg, #f4f8ff 0%, rgba(255, 255, 255, 0) 50.64%);
    }
    ul {
        display: flex;
        position: relative;
        overflow: hidden;
        overflow-x: auto;
        width: auto;
        height: 100%;
        padding: 0 1.6rem;
        white-space: nowrap;
        font-size: 0;
        box-sizing: content-box;
        align-items: center;
        gap: 0.8rem;
        &::-webkit-scrollbar {
            display: none;
            width: 0;
            height: 0;
            background: transparent;
        }
    }
    li {
        display: inline-block;
        width: auto;
        height: auto;
        // white-space: normal;

        &.on {
            a,
            button {
                background: $main-color;
                border-color: $main-color;
                color: #fff;
            }
            .ico {
                &.all {
                    &:before {
                        background: url('../images/ico/ico_all.svg') no-repeat 0 0;
                    }
                }
                &.ai {
                    &:before {
                        background: url('../images/ico/ico_ai.svg') no-repeat 0 0;
                    }
                }
                &.music {
                    &:before {
                        background: url('../images/ico/ico_b_music.svg') no-repeat 0 0;
                    }
                }
                &.cam {
                    &:before {
                        background: url('../images/ico/ico_b_camera.svg') no-repeat 0 0;
                    }
                }
            }
        }
        a,
        button {
            display: inline-block;
            height: 3.2rem;
            padding: 0.65rem 1.6rem;
            border: 1px solid #cfcfcf;
            border-radius: 1.6rem;
            font-size: 1.6rem;
            text-align: center;
            color: #585858;
            line-height: 1.9rem;
            vertical-align: middle;
            box-sizing: $sizing;
            box-shadow: $shadow;
        }
        .ico {
            display: inline-block;
            position: relative;
            line-height: 1.9rem;
            padding-left: 2.8rem;
            &:before {
                display: inline-block;
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 2.4rem;
                height: 2.4rem;
                transform: translateY(-50%);
            }
            &.all {
                &:before {
                    background: url('../images/ico/ico_g_all.svg') no-repeat 0 0;
                }
            }
            &.ai {
                &:before {
                    background: url('../images/ico/ico_g_ai.svg') no-repeat 0 0;
                }
            }
            &.music {
                &:before {
                    background: url('../images/ico/ico_g_music.svg') no-repeat 0 0;
                }
            }
            &.cam {
                &:before {
                    background: url('../images/ico/ico_g_camera.svg') no-repeat 0 0;
                }
            }
        }
    }
    .btn-filter {
        display: block;
        position: absolute;
        top: 0.2rem;
        right: 1.6rem;
        width: 3.2rem;
        height: 3.2rem;
        background-color: #fff;
        border: 1px solid #e7e7e7;
        border-radius: 0.8rem;
    }
    .select-box {
        position: absolute;
        top: 0;
        right: 1.6rem;
    }
}
.tab-content {
    .tab-cont {
        display: none;
        &.open {
            display: block;
        }
    }
}
