.tooltip-box {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 0.4rem;
    z-index: 10;
    .tooltip-btn {
        width: 100%;
        height: 100%;
        .i-ico-tooltip {
            display: block;
            width: 100%;
            height: 100%;
            background-size: cover;
            @include bg($src: '../images/btn/btn_tooltip.svg');
            text-indent: -9999rem;
        }
    }
    .tooltip-body {
        display: none;
        position: absolute;
        left: 0;
        top: calc(100% + 4px);
        width: 10rem;
        min-width: 21.2rem;
        // min-width: 21.2rem;
        border-radius: 0.8rem;
        background-color: #fff;
        font-size: 1rem;
        line-height: 1.4rem;
        z-index: 20;
        box-shadow: $shadow;
        box-sizing: border-box;
        .tooltip-arr {
            content: '';
            position: absolute;
            top: -0.42rem;
            left: 8.2rem;
            display: block;
            width: 1.4rem;
            height: 1.3rem;
            @include bg($src: '../images/ico/ico_box_tail.svg');
            background-size: cover;
        }
        .tooltip-inner {
            padding: 1rem 1.6rem;
            box-sizing: $sizing;
        }
    }
    &.orange {
        .tooltip-body {
            background-color: $main-color;
            color: #fff;
            .tooltip-arr {
                @include bg($src: '../images/ico/ico_ogbox_tail.svg');
            }
        }
    }
}
