.tooltip-box {
    display: inline-block;
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 0.4rem;
    z-index: 10;
    .tooltip-btn {
        width: 100%;
        height: 100%;
        .i-ico-tooltip {
            display: block;
            width: 100%;
            height: 100%;
            background-size: contain;
            @include bg($src: '../images/btn/btn_tooltip.png');
            text-indent: -9999rem;
        }
    }
    .tooltip-body {
        display: none;
        position: absolute;
        left: 0;
        top: calc(100% + 0.4rem);
        // min-width: 20rem;
        width: auto;
        max-width: calc(100vw - 3.2rem);
        padding: 1rem 1.6rem;
        border-radius: 0.8rem;
        background-color: #fff;
        font-size: 1rem;
        line-height: 1.4rem;
        z-index: 20;
        box-shadow: $shadow;
        box-sizing: border-box;
        white-space: nowrap;
        word-break: break-all;
        .tooltip-arr {
            content: '';
            position: absolute;
            top: -0.42rem;
            left: 8.2rem;
            display: block;
            width: 1.4rem;
            height: 1.3rem;
            margin-left: -0.65rem;
            @include bg($src: '../images/ico/ico_box_tail.png');
            background-size: contain;
        }
        .tooltip-inner {
            position: relative;
            // padding: 1rem 1.6rem;
            // box-sizing: $sizing;
        }
        &.bottom {
            top: auto;
            bottom: calc(100% + 0.4rem);
            .tooltip-arr {
                top: auto;
                bottom: -0.42rem;
                transform: rotate(180deg);
            }
        }
    }
    &.orange {
        .tooltip-body {
            background-color: $main-color;
            color: #fff;
            .tooltip-arr {
                @include bg($src: '../images/ico/ico_ogbox_tail.png');
            }
        }
    }
}
