//Sass mixin

//webkit 1줄 말줄임
@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
//webkit 2줄 말줄임
@mixin ellipsis2() {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin img() {
    position: relative;
    flex-shrink: 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@mixin bg($src: null, $repeat: no-repeat, $po: center, $on: null, $color: null) {
    @if $src != null {
        background-image: url($src);
    }
    background-repeat: $repeat;
    background-position: $po;
    background-color: $color;
    @if $on != null {
        &:hover,
        &:focus {
            background-image: url($src + '_on');
        }
    }
}

@mixin btn($width: 100%, $height: 4, $bg: #fff, $border: $main-color, $color: #111, $fontSize: 1.6, $fontWeight: $bold, $radius: 1.6) {
    display: inline-flex;
    width: $width;
    height: $height + rem;
    padding: 0 0.5rem;
    background-color: $bg;
    justify-content: center;
    align-items: center;
    // border: 1px solid $border;
    border-radius: $radius + rem;
    font-size: $fontSize + rem;
    font-weight: $normal;
    text-align: center;
    color: $color;
    box-sizing: border-box;
    vertical-align: top;
    &:hover,
    &:active,
    &:focus {
        background-color: #fff8f2;
    }
    &:disabled,
    &.btn-disabled {
        background-color: $disabled !important;
        border: none;
        color: $dis-color;
    }

    &:link,
    &:visited {
        color: $color;
    }
    &.btn-primary {
        &:hover,
        &:active,
        &:focus {
            background-color: $main-color;
            border-color: $main-color;
        }
    }
    &.btn-outline {
        &:link,
        &:visited {
            color: $main-color;
        }
    }
    &.btn-flat {
        &:hover,
        &:active,
        &:focus {
            background-color: #fff8f2;
            border: none;
        }
    }
    &.btn-ghost {
        border: none;
        &:hover,
        &:active,
        &:focus {
            background: none;
        }
    }
    &.btn-l {
        height: 4.8rem;
        line-height: 4.8rem;
    }
    &.btn-s {
        height: 3.2rem;
        font-size: 1.4rem;
        line-height: 3.2rem;
        border-radius: 1.2rem;
    }
}
// @mixin flex($fg: 1, $fs: 0, $fb: auto) {
//  	$fg-boxflex: $fg;
// 	@if type-of($fg) == 'list' {
// 		$fg-boxflex: nth($fg, 1);
// 	}
//    -webkit-box: $fg-boxflex;
//       -moz-box: $fg-boxflex;
//   -webkit-flex: $fg $fs $fb;
//       -ms-flex: $fg $fs $fb;
//           flex: $fg $fs $fb;
// }
