body {
    color: $base-color;
    font-weight: $normal;
}

/*********common**********/
/*font-size*/
.fs-24 {
    font-size: $fs-24;
}
.fs-20 {
    font-size: $fs-20;
}
.fs-16 {
    font-size: $fs-16;
}
.fs-14 {
    font-size: $fs-14;
}
.fs-12 {
    font-size: $fs-12;
}
.fs-10 {
    font-size: $fs-10;
}
.fs-8 {
    font-size: $fs-8;
}
/*font-weight*/
.fwb {
    font-weight: $bold;
}

// margin
.mg-auto {
    margin: auto !important;
}
.mg-auto-x {
    margin-left: auto !important;
    margin-right: auto !important;
}
.mg-auto-y {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.ml-auto {
    margin-left: auto !important;
}
.mr-auto {
    margin-right: auto !important;
}
.mt-auto {
    margin-top: auto !important;
}
.mb-auto {
    margin-bottom: auto !important;
}

@for $i from 0 through 100 {
    .mg-#{$i} {
        margin: $i * 0.1rem !important;
    }
    .mg-#{$i}-x {
        margin-left: $i * 0.1rem !important;
        margin-right: $i * 0.1rem !important;
    }
    .mg-#{$i}-y {
        margin-top: $i * 0.1rem !important;
        margin-bottom: $i * 0.1rem !important;
    }
    .mt-#{$i} {
        margin-top: $i * 0.1rem !important;
    }
    .mb-#{$i} {
        margin-bottom: $i * 0.1rem !important;
    }
    .ml-#{$i} {
        margin-left: $i * 0.1rem !important;
    }
    .mr-#{$i} {
        margin-right: $i * 0.1rem !important;
    }
}

// padding
@for $i from 0 through 100 {
    .pd-#{$i} {
        padding: $i * 0.1rem !important;
    }
    .pd-#{$i}-x {
        padding-left: $i * 0.1rem !important;
        padding-right: $i * 0.1rem !important;
    }
    .pd-#{$i}-y {
        padding-top: $i * 0.1rem !important;
        padding-bottom: $i * 0.1rem !important;
    }
    .pt-#{$i} {
        padding-top: $i * 0.1rem !important;
    }
    .pb-#{$i} {
        padding-bottom: $i * 0.1rem !important;
    }
    .pl-#{$i} {
        padding-left: $i * 0.1rem !important;
    }
    .pr-#{$i} {
        padding-right: $i * 0.1rem !important;
    }
}

/*title*/
h1 {
    font-weight: $bold;
    font-size: $fs-24;
}
