/*title*/
.title-box {
    // margin-top: 2.4rem;
}
h1 {
    font-weight: $bold;
    font-size: $fs-24;
}
//text color
.warring-txt {
    color: $error-color;
}

.bold {
    font-weight: $bold;
}
.title-box {
    .title {
        margin-bottom: 1.6rem;
    }
    .body-sub-title {
        color: $dis-color;
    }
}
.title {
    // 제목1
    font-size: $fs-24;
    line-height: 2.9rem;
}
.sub-title {
    // 제목2
    font-size: $fs-20;
    line-height: 2.4rem;
}
.body-title {
    // 본문1
    font-size: $fs-16;
    line-height: 2.3rem;
}
.body-sub-title {
    // 본문2
    font-size: $fs-14;
    line-height: 2rem;
}
.text-l {
    // 텍스트1
    font-size: $fs-12;
    line-height: 1.7rem;
}
.text-m {
    // 텍스트2
    font-size: $fs-10;
    line-height: 1.4rem;
}
.text-s {
    // 텍스트3
    font-size: $fs-8;
    line-height: 1.2rem;
}

.card {
    padding: 1.6rem;
    background: #fff;
    border-radius: 3.2rem;
    box-shadow: $shadow;

    &.small {
        border-radius: 2.4rem;
    }
}
