/*title*/
.title-box {
    // margin-top: 2.4rem;
}
h1 {
    font-weight: $bold;
    font-size: $fs-24;
}
//text color
.warring-txt {
    color: $error-color;
}

.bold {
    font-weight: $bold;
}
.title-box {
    .title {
        margin-bottom: 1.6rem;
    }
    .body-sub-title {
        color: $dis-color;
    }
}
.title {
    // 제목1
    font-size: $fs-24;
    line-height: 2.9rem;
}
.sub-title {
    // 제목2
    font-size: $fs-20;
    line-height: 2.4rem;
}
.body-title {
    // 본문1
    font-size: $fs-16;
    line-height: 2.3rem;
}
.body-sub-title {
    // 본문2
    font-size: $fs-14;
    line-height: 2rem;
}
.text-l {
    // 텍스트1
    font-size: $fs-12;
    line-height: 1.7rem;
}
.text-m {
    // 텍스트2
    font-size: $fs-10;
    line-height: 1.4rem;
}
.text-s {
    // 텍스트3
    font-size: $fs-8;
    line-height: 1.2rem;
}

.card {
    padding: 1.6rem;
    background: #fff;
    border-radius: 3.2rem;
    box-shadow: $shadow;

    &.small {
        border-radius: 2.4rem;
    }
}
.scroll-box {
    margin: 0 -1.6rem;
    .scroll,
    ul {
        display: flex;
        position: relative;
        overflow: hidden;
        overflow-x: auto;
        width: auto;
        height: 100%;
        padding: 0 1.6rem;
        white-space: nowrap;
        box-sizing: content-box;
        align-items: center;
        gap: 0.8rem;
        &::-webkit-scrollbar {
            display: none;
            width: 0;
            height: 0;
            background: transparent;
        }
        li {
            display: inline-flex;
        }
    }
}

.challenge-box {
    &.small {
        ul {
            li {
                height: 13.6rem;
            }
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2.4rem 1.1rem;
        li {
            width: calc((100% - 2.2rem) / 3);
            height: 18.8rem;
            // min-width: 10.2rem;
        }
    }
    a {
        display: flex;
        width: 100%;
        flex-direction: column;
        .img {
            width: 100%;
            height: 13.6rem;
            box-shadow: $shadow;
            border-radius: 2.4rem;
            overflow: hidden;
            @include imgCenter();
            img {
                border-radius: 2.4rem;
            }
        }
        .info {
            margin-top: 0.8rem;
            padding: 0 0.8rem;
            span {
                display: block;
                position: relative;
            }
            .tag {
                line-height: 2.3rem;
                @include ellipsis();
                &:before {
                    display: inline-block;
                    content: '#';
                }
            }
            .user-info {
                display: flex;
                align-items: center;
                margin-top: 0.4rem;
            }
            .user-name {
                font-size: 1.2rem;
                line-height: 1.7rem;
                color: #585858;
                @include ellipsis();
                &:before {
                    display: inline-block;
                    content: '@';
                }
            }
        }
    }
    .vinyl {
        position: relative;
        a {
            height: 100%;

            padding-top: 3.4rem;
            box-sizing: border-box;
            &::before {
                content: '';
                position: absolute;
                top: 0rem;
                display: block;
                align-self: center;
                width: 6.8rem;
                height: 6.8rem;
                @include bg($src: '../images/img/img_vinyl.png', $po: top);
                background-size: contain;
            }
        }
        .img {
            height: 10.2rem;
        }
    }
}
