@charset "UTF-8";

html {
    font-size: 62.5%;
}

body,
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
blockquote,
table,
th,
td,
input,
select,
textarea,
blockquote,
address,
button {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

fieldset,
img {
    border: 0 none;
}

ul,
ol,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

input,
select,
textarea,
button {
    font-size: 100%;
    vertical-align: middle;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}
button:disabled {
    cursor: default;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #fff;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

body,
th,
td,
input,
select,
textarea,
button {
    font: $normal 1.6rem/1.44 'Pretendard', sans-serif;
    color: #111;
    word-break: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.02em;
}

pre {
    color: #111;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
    font: 500 1.6rem/1.44 'Pretendard', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.02em;
}

a {
    text-decoration: none;
    -webkit-user-drag: none;
}

a:active,
a:hover,
a:link,
a:visited {
    color: $base-color;
    text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: normal;
}

img {
    vertical-align: top;
    -webkit-user-drag: none;
}

hr {
    display: none;
}

/* html5 tag */
article,
aside,
details,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
main {
    display: block;
    margin: 0;
    padding: 0;
}

input[type='search']::-webkit-search-cancel-button {
    appearance: none;
}

input[type='text'],
input[type='password'],
input[type='submit'],
input[type='search'],
input[type='tel'],
input[type='number'],
textarea {
    appearance: none;
    border-radius: 0;
}

input[type='checkbox']:checked {
    background-color: #666;
    appearance: checkbox;
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='file'] {
    appearance: button;
    border-radius: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    appearance: none;
}

/* iPhone number color reset */
a[href^='tel'] {
    color: inherit;
    text-decoration: none;
}

select {
    appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100%;
}

select:focus::-ms-value {
    background-color: transparent;
    color: #000;
}

select::-ms-expand {
    display: none;
}

input::-ms-clear {
    display: none;
}

input,
select,
textarea {
    outline: none;
    color: #111;
}
textarea {
    resize: none;
}
/* WebKit browsers */
::-webkit-input-placeholder {
    color: #929292;
    -webkit-border-radius: 0;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
    color: #929292;
    opacity: 1;
}

/* Mozilla Firefox 19+ */
::-moz-placeholder {
    color: #929292;
    opacity: 1;
}

/* Internet Explorer 10+ */
:-ms-input-placeholder {
    color: #929292;
}

/* global */
.blind {
    position: absolute;
    top: -9999px;
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 1%;
    line-height: 0;
}

/* 1줄 말줄임 */
.ellipsis {
    @include ellipsis();
}
@for $i from 1 through 5 {
    .ellipsis#{$i} {
        @include ellipsis($i);
    }
}
