/*s: style.css*/
.popover img {
    width: 300px;
}
label {
    margin: 0;
}

.total-row {
    background-color: #f8f9fc;
    color: blue;
}

.breadcrumb {
    font-size: 12px;
}

.breadcrumb .breadcrumb-item:last-child {
    font-size: 12px;
    color: #4e73df !important;
    font-weight: 700 !important;
}

.highlight-row {
    background-color: #f8f9fc;
}

.table {
    width: 100%;
}

.col-form-label.required strong:after,
.col-form-label.required span:after,
.form-group.required label:after {
    content: '*';
    color: red;
}

/* datatable */
.bootstrap-table .fixed-table-loading {
    display: none !important;
}
.fixed-table-pagination.pagination-bottom .pagination-detail {
    display: none !important;
}
.fixed-table-pagination.pagination-top .pagination {
    display: none !important;
}
.fixed-table-pagination.pagination-bottom > .pagination {
    width: 100%;
}
.fixed-table-pagination.pagination-bottom ul.pagination {
    margin: 0 auto !important;
}

/* datepicker & email */
.datepicker {
    z-index: 999 !important;
}
#form .form-date {
    max-width: 150px !important;
    background-color: #fff !important;
}
.input-group .form-date,
.input-group .form-month,
.input-group .form-year {
    max-width: 120px !important;
    background-color: #fff !important;
}
.input-group .email {
    max-width: 150px !important;
    background-color: #fff !important;
}

.btn {
    cursor: pointer;
}
.summernote {
    border: 0;
    height: 0;
}
.form-validate-summernote .note-editor.note-frame.is-invalid {
    border-color: #e74a3b;
}
.bs-checkbox label {
    margin: 0 !important;
}
/* loading */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*e: style.css*/

.breadcrumb-item {
    & + .breadcrumb-item {
        &::before {
            content: '>';
        }
    }
}

.form-box {
    border-bottom: 0.063rem solid #dee2e6;
    // color: $body-color;
    a:not(.btn) {
        text-decoration: underline;
    }
    &.hide {
        display: none;
    }
    .form-box-row {
        display: flex;
        border-top: 0.063rem solid #dee2e6;
    }
    .form-box-item {
        display: flex;
        width: 100%;
    }
    .form-box-label {
        background-color: #f8f9fa;
        width: 130px;
        flex-shrink: 0;
        font-size: 0.875rem;
        line-height: 1.2;
        font-weight: 500;
        padding: 0.3rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        word-break: keep-all;
        label {
            margin: 0;
        }
    }
    .form-box-cont {
        flex: 1 1 auto;
        padding: 0.5rem 1rem;
        min-height: 3.188rem;
        // &:not(.d-flex) {
        //   display: flex;
        //   flex-direction: column;
        //   justify-content: center;
        // }
    }

    .btn-group {
        .btn {
            white-space: nowrap;
        }
    }
}
