<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table
        style="width:720px;margin:0 auto;border-collapse:collapse;border-spacing:0px;font-family:MalgunGothic, Arial;">
        <tr>
            <td style="padding:26px 10px 14px;border-bottom:2px solid #FC823E;">
                <table style="width:100%;border-collapse:collapse;border-spacing:0px;">
                    <tr>
                        <td style="padding:0;font-size:0;line-height:0;"><img src="http://15.164.112.16:11400/images/img_blacklogo_new.png" alt="당부" style="width:42px;height:30px;" /></td>
                        <td style="padding:0;font-size:12px;text-align:right;vertical-align:bottom;">
                        	<a href="www.dangboo.co.kr" target="_blank" style="text-decoration:none;color:#B5B5B5;">www.dangboo.co.kr</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:40px 20px;font-weight:bold;font-size:24px;color:#222;">
            	회원님, <span style="color:#FF6C1A;">문의하신 내용</span>에 답변 드립니다.
            </td>
        </tr>
        <tr>
            <td style="padding:0 20px;font-size:14px;color:#000;line-height:24px;"> 
            	안녕하세요. 당부 고객센터 입니다. 아래 문의하신 내용에 대해 답변 드립니다. 
            </td>
        </tr>
        <tr>
            <td style="padding:40px 20px;">
                <table style="width:100%;border-collapse:collapse;border-spacing:0px;font-size:14px;color:#000;">
                    <tr>
                        <td style="padding:10px 20px;border-top:1px solid #ddd;border-right:1px solid #ddd;color:#000;background-color:#FFEFD8;">
                            문의 제목
                        </td>
                        <td style="padding:10px 20px;border-top:1px solid #ddd;border-left:1px solid #ddd;">
                        	<span th:text="${title}">아연 성분 등록해 주세요.</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px 20px;border-top:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;color:#000;background-color:#FFEFD8;">
                            접수 날짜
                        </td>
                        <td style="padding:10px 20px;border-top:1px solid #ddd;border-left:1px solid #ddd;border-bottom:1px solid #ddd;">
                            <span th:text="${#dates.format(createDate, 'yyyy.MM.dd HH:mm')}">2018.02.03 18:30</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:0 20px 40px;font-size:14px;color:#000;line-height:24px;" th:utext="${response}"> 
            
            </td>
        </tr>
        <tr>
            <td style="padding:20px;font-size:12px;line-height:16px;color:#454545;background-color:#F6F6F6;font-family:MalgunGothic, Arial;">
                이 메일은 발신 전용이므로 회신 할 수 없습니다.<br /><br /> 서울시 구로구 디지털로 31길 38-9 에이스테크노타워 1차 5F (주)유비벨록스모바일<br /> E-mail:
                <a href="mailto:contact@dangboo.co.kr" target="_blank" style="text-decoration:none;color:#454545;">contact@dangboo.co.kr</a> 
                <br /> COPYRIGTH ⓒ UBIVELOX MOBILE CORP. ALL RIGHTS RESERVIED. 
            </td>
        </tr>
    </table>
</body>
</html>