<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>임시 비밀번호 발급</title>
</head>
<body style="font-family: MalgunGothic; width: 700px; margin: 0 auto;">
	<table width="700" style="font-family: MalgunGothic; margin: 0 auto; padding: 0px; border-collapse: collapse;">
		<tr>
			<td>
				<header class="header">
					<img src="https://elesway-content.s3.ap-northeast-2.amazonaws.com/email_images/img_pw_02@3x.png">
				</header>
				<section class="section" style="padding: 60px 0 50px 0;">
					<p class="sectionText" style="font-size: 14px;font-weight: normal; font-style: normal; font-stretch: normal;
					line-height: 1.71; letter-spacing: normal; text-align: left; color: #000000;">
						안녕하세요. 회원님! <br>
						임시 비밀번호를 통해 로그인 하신 후 <span style="color:#ff4f01;">새로운 비밀번호로 설정</span>해주시기 바랍니다.
					</p>
					<div class="inputArea" style="margin-top: 50px; border: solid 4px #ffe14a; padding: 20px 0 30px 20px; position: relative;">
						<span class="placeHolder" style="padding-right:30px; position:relative; bottom:3px;">임시 비밀번호</span>
						<span class="newPw" style="font-size: 32px; font-weight: bold;" th:text="${password}"></span>
					</div>
				</section>
				<th:block th:insert="fragments/mail/footer :: footer"></th:block>
			</td>
		</tr>
	</table>
</body>
</html>