.challPop-slider {
    .chall-swiper {
        .swiper-slide {
            width: 260px;
            opacity: 1;
            .img {
                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.6);
                }
            }
        }
        .swiper-slide-active {
            .img {
                &:after {
                    display: none;
                }
            }
        }
        .card {
            display: flex;
            flex-direction: column;
            height: 40.8rem;
            margin: 1.2rem 0 2.4rem 0;
            .img {
                height: 30.4rem;
                overflow: hidden;
                margin-bottom: 1.6rem;
                border-radius: 2.4rem;
            }

            .tag {
                margin: 0 auto;
                margin-bottom: 0.4rem;
                font-size: 1.4rem;
            }

            .date {
                margin: 0 auto;
                font-size: 1.4rem;
                color: #585858;
                line-height: 2rem;
            }
        }
    }
}

.monthSound-text {
    margin-bottom: 2.1rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #585858;
}

a.btn-composer {
    display: block;
    margin-bottom: 0.8rem;
    padding: 0.6rem 1.6rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    color: #e45200;
    background: #ffe0ce;
}

.banner-area {
    &.advert {
        position: relative;
        height: 24.44vw;
        a {
            display: block;
        }
        .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.4rem;
            font-weight: $bold;
            z-index: 2;
        }
    }
}
.banner-swiper {
    overflow: hidden;
}

.category-area.fame {
    ul {
        li {
            gap: 1rem;
        }
    }
    a {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: 8.8rem;
        .img {
            overflow: hidden;
            width: 100%;
            height: 8.8rem;
            border-radius: 50%;
        }
        p {
            line-height: 2.3rem;
            @include ellipsis();
        }
    }
}
.category-area.genre {
    a {
        display: block;
        position: relative;
        border-radius: 2.4rem;
        overflow: hidden;
        width: 14.2rem;
        .img {
            width: 100%;
            height: 8.6rem;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
                z-index: 2;
            }
        }
        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.4rem;
            line-height: 2rem;
            color: #fff;
            z-index: 3;
        }
    }
}
.comp-info-area {
    .img {
        width: 10.4rem;
        height: 10.4rem;
        margin: 0 auto;
        border-radius: 10.4rem;
        overflow: hidden;
    }
    .info {
        a {
            display: block;
            margin-top: 1.6rem;
            text-align: center;
            line-height: 2.3rem;
        }
        .info {
            margin-top: 1.6rem;
        }
        .text {
            margin-top: 0.8rem;
            font-size: 1.2rem;
            line-height: 1.7rem;
        }
        & + .btn-box {
            margin-top: 1.6rem;
        }
    }
    .btn-box {
        .btn {
            height: 3.2rem;
        }
    }
}
.music-info-area {
    .info {
        display: flex;
        gap: 1.6rem;
        .info-right {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        .cont {
            display: flex;
            margin-bottom: 0.8rem;
            .cont-left {
                flex: 1;
            }
            .chk-box {
                width: 2.4rem;
            }
            .sub-title {
                max-height: 4.8rem;
                overflow: hidden;
            }
            .text-l {
                display: block;
            }
            .text-m {
                display: block;
                text-align: center;
                color: #404040;
            }
        }
    }
    .img {
        overflow: hidden;
        width: 10.2rem;
        height: 10.2rem;
        border-radius: 2.4rem;
    }
    .btn-box {
        margin: 2.4rem 0;
    }
    .playbar-area {
        margin-bottom: 2.4rem;
    }
    .genre-list {
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 0.8rem;
        }
        li {
            padding: 0.2rem 0.8rem;
            border-radius: 8px;
            background: rgba(48, 106, 255, 0.12);
            font-size: 1.2rem;
            line-height: 1.7rem;
            color: #0300a7;
        }
    }
}
.no-clip {
    width: 21.2rem;
    height: 21.2rem;
    margin: 1.6rem auto 0;
    @include bg($src: '../images/img/img_no_clip.png');
    background-size: cover;
    p {
        padding-top: 100%;
        text-align: center;
        line-height: 2.3rem;
    }
}
.talk-wrap {
    .comment-list {
        padding-top: 2.4rem;
    }
    .no-comment {
        margin-top: 0.8rem;
        .img {
            margin-bottom: 0.4rem;
        }
    }
}
