//홈화면
.event-swiper {
    overflow: hidden;
}
//알림 리스트 화면
.alarm-list-box {
    .no-result {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12.4rem;
        .img {
            display: block;
            width: 21.2rem;
            height: 21.2rem;
            margin-bottom: 1.6rem;
            background-size: cover;
            @include bg($src: '../images/img/img_no_result.png');
        }
        .title {
            margin-bottom: 0.4rem;
        }
    }
}

.visual-box {
    &.event-slider {
        & + .section {
            margin-top: -2.4rem;
            position: relative;
            z-index: 100;
        }
        position: relative;
        height: 28rem;
        .visual-custom {
            position: absolute;
            display: flex;
            justify-content: space-between;
            bottom: 4rem;
            left: 1.6rem;
            right: 1.6rem;
            z-index: 10;
        }
        .custom-left {
            display: inline-flex;
            height: 2.4rem;
            padding: 0.4rem 0.8rem;
            border-radius: 0.8rem;
            background: rgba($color: #000000, $alpha: 0.6);
            align-items: center;
            gap: 1rem;
            box-sizing: border-box;
        }
        .custom-right {
            .btn-visual-more {
                display: block;
                width: 2.4rem;
                height: 2.4rem;
                @include bg($src: '../images/ico/ico_w_list.svg', $po: center -0.3rem);
            }
        }
        .count_insert {
            display: inline-block;
            font-size: 1rem;
            color: #fff;
        }
        .swiper-auto-ctl {
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            @include bg($src: '../images/ico/ico_w_pause.svg', $po: center -0.7rem);

            &.is-stop {
                background-image: url('../images/ico/ico_w_play.svg');
                background-position-y: -0.3rem;
            }
        }
        .swiper-slide {
            a {
                display: block;
                width: 100%;
                height: 100%;

                .img {
                    height: 100%;
                }
            }
        }
    }
}

.challenge-box {
    .top {
        position: relative;
        .info {
            position: absolute;
            bottom: 0.8rem;
            left: 0;
            right: 0;
            color: #fff;
            z-index: 2;
        }
        .util {
            display: flex;
            height: 1.6rem;
            margin-top: 0.4rem;
            p {
                display: inline-block;
                position: relative;
                flex: 1 1 50%;
                font-size: 1rem;
                line-height: 1.6rem;
                &:before {
                    display: inline-block;
                    content: '';
                    width: 1.6rem;
                    height: 1.6rem;
                }
                &.like:before {
                    @include bg($src: '../images/ico/ico_w_heart.svg');
                    background-size: cover;
                }
                &.reply:before {
                    @include bg($src: '../images/ico/ico_w_reply.svg');
                    background-size: cover;
                }
            }
            span {
                display: inline-block;
                vertical-align: top;
            }
        }
    }
    .card {
        position: relative;
        padding: 0.8rem 0.8rem 1.2rem 0.8rem;
        box-sizing: $sizing;

        .util {
            display: flex;
            position: absolute;
            top: 1.6rem;
            left: 1.6rem;
            z-index: 2;
            p {
                display: flex;
                position: relative;
                height: 2.4rem;
                align-items: center;
                font-size: 1rem;
                color: #fff;
                &:before {
                    display: inline-block;
                    content: '';
                    width: 1.6rem;
                    height: 1.6rem;
                }
                &.like:before {
                    @include bg($src: '../images/ico/ico_w_heart.svg');
                    background-size: cover;
                }
            }
        }
        .user-info {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: -1.8rem;
            .user-img {
                min-width: 3.6rem;
                height: 3.6rem;
                margin-bottom: 0.8rem;
                border-radius: 50%;
                box-sizing: $sizing;
                overflow: hidden;
                @include imgCenter();
                border: 2px solid #fff;
                box-shadow: $shadow;
            }
            .user-name {
                font-size: 1.4rem;
                line-height: 2rem;
            }
        }
    }
}
.card-list-box {
    margin-top: 1.6rem;
    > ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .chall-card {
        padding: 0.8rem 0.85rem;
        .chall-info {
            display: flex;
            gap: 1rem;
        }
        .info-cont {
            flex: 1;
            gap: 0.8rem;
            overflow: hidden;
            padding: 1.15rem 0 1.15rem 0.8rem;
            .tag-list {
                gap: 0.4rem;
                .tag {
                    font-size: 1.4rem;
                    line-height: 2rem;
                    color: #404040;
                    &:last-child {
                        flex: 1;
                        @include ellipsis();
                    }
                }
            }
            .tag {
                &.blue {
                    width: auto;
                    max-width: 100%;
                    height: 3.2rem;
                    line-height: 2rem;
                    vertical-align: middle;
                    @include ellipsis();
                }
            }
            .music-title {
                margin-top: 0.8rem;
                font-size: 1.4rem;
                line-height: 2rem;
                @include ellipsis();
                &:before {
                    display: inline-block;
                    content: '';
                    width: 1.6rem;
                    height: 1.6rem;
                    margin-right: 0.4rem;
                    vertical-align: middle;
                    @include bg($src: '../images/ico/ico_music_bk.svg');
                }

                & ~ div {
                    margin-top: 0.8rem;
                }
            }
            .util-list {
                justify-content: space-between;
                p {
                    display: inline-block;
                    position: relative;
                    padding-left: 1.8rem;
                    padding-right: 1.2rem;
                    font-size: 1.2rem;
                    line-height: 1.7rem;
                    color: #585858;
                    &:before {
                        display: block;
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1.6rem;
                        height: 1.6rem;
                    }
                    &.like:before {
                        background: url('../images/ico/ico_heart_grey.svg') no-repeat center;
                    }
                    &.veiw:before {
                        background: url('../images/ico/ico_eye_grey.svg') no-repeat center;
                    }
                    &.number:before {
                        background: url('../images/ico/ico_user_grey.svg') no-repeat center;
                    }
                    span {
                        display: inline-block;
                    }
                }
            }
        }
        &.new {
            .info-img {
                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 0.8rem;
                    right: 0.8rem;
                    width: 2rem;
                    height: 2rem;
                    background: url('../images/ico/ico_o_new.svg') no-repeat center;
                }
            }
        }
        .info-img {
            width: 10.2rem;
            height: auto;
            overflow: hidden;
            border-radius: 2.4rem;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(5, 4, 37, 0) 80.21%, rgba(4, 4, 37, 0.5) 100%);
                z-index: 1;
            }

            .time {
                position: absolute;
                bottom: 0.8rem;
                right: 0.7rem;
                font-size: 1rem;
                line-height: 1.4rem;
                z-index: 1;
                color: #fff;
            }
        }
        .btn-box {
            margin: 0.8rem auto;
            padding: 0 0.75rem;
        }
    }
}
.list-box {
    .info {
        .num {
            position: relative;
            height: 1.6rem;
            line-height: 1.6rem;
            font-size: 1rem;
            padding-left: 1.6rem;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 1rem;
                height: 0.2rem;
                border-radius: 0.1rem;
                background-color: #9f9f9f;
                margin-bottom: 0.3rem;
                transform: translateY(-50%);
            }
            &.rank-up {
                color: #e92dff;
                &:before {
                    top: 0;
                    width: 1.6rem;
                    height: 1.6rem;
                    margin-bottom: 0;
                    border-radius: 0;
                    background-color: transparent;
                    transform: none;
                    @include bg($src: '../images/ico/ico_rank_up.svg', $po: center left);
                }
            }
            &.rank-down {
                color: #e92dff;
                &:before {
                    top: 0;
                    width: 1.6rem;
                    height: 1.6rem;
                    margin-bottom: 0;
                    border-radius: 0;
                    background-color: transparent;
                    transform: none;
                    @include bg($src: '../images/ico/ico_rank_down.svg', $po: center);
                }
            }
        }
    }

    .rank-up {
    }
}
.rank-swiper {
    overflow: hidden;
    height: 33rem;
    margin-left: -1.6rem;
    margin-right: -1.6rem;
    padding: 0 1.6rem;
    .swiper-wrapper {
        width: 100% !important;
    }
    .swiper-slide {
        height: auto;
    }
    &.list-box {
        li + li {
            margin-top: 0;
        }
    }
    ol {
        counter-reset: rank 0;
    }
    li {
        padding: 0.8rem 1.6rem;
        width: calc(100% - 2.8rem);
        &:before {
            display: inline-block;
            content: counter(rank);
            counter-increment: rank 1;
            width: 2rem;
            height: 2rem;
            margin-right: 0.8rem;
            text-align: center;
        }
    }
}

.chall-slider {
    height: 32.1rem;
}
.chall-swiper {
    // overflow: hidden;
    .swiper-slide {
        width: 21.6rem;
        opacity: 0.5;
        a {
            display: block;
            height: 100%;

            .img {
                overflow: hidden;
                border-radius: 2.4rem;
                height: 28.8rem;
            }
        }
        &.swiper-slide-active {
            opacity: 1;
            .util-list {
                display: flex;
            }
        }
        .util-list {
            display: none;
            justify-content: space-around;
            margin-top: 1.6rem;
        }
    }
}
