//홈화면

//알림 리스트 화면
.alarm-list-box {
    .no-result {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12.4rem;
        .img {
            display: block;
            width: 21.2rem;
            height: 21.2rem;
            margin-bottom: 1.6rem;
            background-size: cover;
            @include bg($src: '../images/img/img_no_result.png');
        }
        .title {
            margin-bottom: 0.4rem;
        }
    }
}

.visual-box {
    &.event-slider {
        & + .section {
            margin-top: -2.4rem;
            position: relative;
            z-index: 100;
        }
        position: relative;
        height: 28rem;
        .visual-custom {
            position: absolute;
            display: flex;
            justify-content: space-between;
            bottom: 4rem;
            left: 1.6rem;
            right: 1.6rem;
            z-index: 10;
        }
        .custom-left {
            display: inline-flex;
            height: 2.4rem;
            padding: 0.4rem 0.8rem;
            border-radius: 0.8rem;
            background: rgba($color: #000000, $alpha: 0.6);
            align-items: center;
            gap: 1rem;
            box-sizing: border-box;
        }
        .custom-right {
            .btn-visual-more {
                display: block;
                width: 2.4rem;
                height: 2.4rem;
                @include bg($src: '../images/ico/ico_w_list.svg', $po: center -0.3rem);
            }
        }
        .count_insert {
            display: inline-block;
            font-size: 1rem;
            color: #fff;
        }
        .swiper-auto-ctl {
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            @include bg($src: '../images/ico/ico_w_pause.svg', $po: center -0.7rem);

            &.is-stop {
                background-image: url('../images/ico/ico_w_play.svg');
                background-position-y: -0.3rem;
            }
        }
        .swiper-slide {
            a {
                display: block;
                width: 100%;
                height: 100%;

                .img {
                    height: 100%;
                }
            }
        }
    }
}
