//홈화면
.event-swiper {
    overflow: hidden;
}
//알림 리스트 화면
.alarm-list-box {
    .no-result {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12.4rem;
        .img {
            display: block;
            width: 21.2rem;
            height: 21.2rem;
            margin-bottom: 1.6rem;
            background-size: cover;
            @include bg($src: '../images/img/img_no_result.png');
        }
        .title {
            margin-bottom: 0.4rem;
        }
    }
}

.visual-box {
    &.event-slider {
        & + .section {
            margin-top: -2.4rem;
            position: relative;
            z-index: 100;
        }
        position: relative;
        height: 77.78vw;

        .swiper-slide {
            a {
                display: block;
                width: 100%;
                height: 100%;

                .img {
                    height: 100%;
                }
            }
        }
    }
}

.challenge-box {
    .top {
        position: relative;
        .info {
            position: absolute;
            bottom: 0.8rem;
            left: 0;
            right: 0;
            color: #fff;
            z-index: 2;
        }
        .util {
            display: flex;
            height: 1.6rem;
            margin-top: 0.4rem;
            p {
                display: inline-block;
                position: relative;
                flex: 1 1 50%;
                font-size: 1rem;
                line-height: 1.6rem;
                &:before {
                    display: inline-block;
                    content: '';
                    width: 1.6rem;
                    height: 1.6rem;
                }
                &.like:before {
                    @include bg($src: '../images/ico/ico_w_heart.svg');
                    background-size: cover;
                }
                &.reply:before {
                    @include bg($src: '../images/ico/ico_w_reply.svg');
                    background-size: cover;
                }
            }
            span {
                display: inline-block;
                vertical-align: top;
            }
        }
    }
    .card {
        position: relative;
        padding: 0.8rem 0.8rem 1.2rem 0.8rem;
        box-sizing: $sizing;

        .util {
            display: flex;
            position: absolute;
            top: 1.6rem;
            left: 1.6rem;
            z-index: 2;
            p {
                display: flex;
                position: relative;
                height: 2.4rem;
                align-items: center;
                font-size: 1rem;
                color: #fff;
                &:before {
                    display: inline-block;
                    content: '';
                    width: 1.6rem;
                    height: 1.6rem;
                }
                &.like:before {
                    @include bg($src: '../images/ico/ico_w_heart.svg');
                    background-size: cover;
                }
            }
        }
        .user-info {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: -1.8rem;
            .user-img {
                width: 3.6rem;
                height: 3.6rem;
                margin-bottom: 0.8rem;
                border-radius: 50%;
                box-sizing: $sizing;
                overflow: hidden;
                @include imgCenter();
                border: 2px solid #fff;
                box-shadow: $shadow;
                flex-shrink: 0;
            }
            .user-name {
                font-size: 1.4rem;
                line-height: 2rem;
                @include ellipsis();
                width: 100%;
                text-align: center;
            }
        }
    }
}
.card-list-box {
    margin-top: 1.6rem;
    > ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .chall-card {
        padding: 0.8rem 0.85rem;
        .chall-info {
            display: flex;
            gap: 1rem;
        }
        .info-cont {
            flex: 1;
            gap: 0.8rem;
            overflow: hidden;
            padding: 1.15rem 0 1.15rem 0.8rem;

            .tag-list {
                display: block;
                @include ellipsis();
                .tag {
                    display: inline;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    color: #404040;
                }
                @include ellipsis();
            }
            .tag {
                &.blue {
                    width: auto;
                    max-width: 100%;
                    height: 3.2rem;
                    line-height: 2rem;
                    vertical-align: middle;
                    @include ellipsis();
                }
            }
            .music-title {
                margin-top: 0.8rem;
                font-size: 1.4rem;
                line-height: 2rem;
                @include ellipsis();
                &:before {
                    display: inline-block;
                    content: '';
                    width: 1.6rem;
                    height: 1.6rem;
                    margin-right: 0.4rem;
                    vertical-align: middle;
                    @include bg($src: '../images/ico/ico_music_bk.svg');
                }

                & ~ div {
                    margin-top: 0.8rem;
                }
            }
            .util-list {
                justify-content: space-between;
                p {
                    display: inline-flex;
                    position: relative;
                    width: calc(100% / 3);
                    padding-left: 1.8rem;
                    padding-right: 1.2rem;
                    font-size: 1.2rem;
                    box-sizing: $sizing;
                    line-height: 1.7rem;
                    color: #585858;

                    .num {
                        @include ellipsis();
                    }
                    &:before {
                        display: block;
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1.6rem;
                        height: 1.6rem;
                    }
                    &.like:before {
                        background: url('../images/ico/ico_heart_grey.svg') no-repeat center;
                    }
                    &.veiw:before {
                        background: url('../images/ico/ico_eye_grey.svg') no-repeat center;
                    }
                    &.number:before {
                        background: url('../images/ico/ico_user_grey.svg') no-repeat center;
                    }
                    span {
                        display: inline-block;
                    }
                }
            }
        }
        &.new {
            position: relative;
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 1.6rem;
                right: 1.65rem;
                width: 2rem;
                height: 2rem;
                background: url('../images/ico/ico_o_new.svg') no-repeat center;
            }
        }
        &.vinyl {
            .info-img {
                height: 10.2rem;
                margin-top: auto;
                overflow: visible;
                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    top: -3.4rem;
                    left: 50%;
                    width: 6.8rem;
                    height: 6.8rem;
                    transform: translateX(-50%);
                    background: url('../images/img/img_vinyl.png') no-repeat 0 0;
                    background-size: cover;
                }
                &:before {
                    border-radius: 2.4rem;
                }
                img {
                    z-index: 1;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 2.4rem;
                }
            }
        }
        .info-img {
            width: 10.2rem;
            height: auto;
            overflow: hidden;
            border-radius: 2.4rem;
            .img {
                img {
                    position: relative;
                }
            }
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(5, 4, 37, 0) 80.21%, rgba(4, 4, 37, 0.5) 100%);
                z-index: 1;
            }

            .time {
                position: absolute;
                bottom: 0.8rem;
                right: 0.7rem;
                font-size: 1rem;
                line-height: 1.4rem;
                z-index: 1;
                color: #fff;
            }
        }
        .btn-box {
            margin: 0.8rem auto;
            padding: 0 0.75rem;
        }
    }
}
.list-box {
    .info {
        .num {
            position: relative;
            height: 1.6rem;
            line-height: 1.6rem;
            padding-left: 1.6rem;
            font-size: 0;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 1rem;
                height: 0.2rem;
                border-radius: 0.1rem;
                background-color: #9f9f9f;
                margin-bottom: 0.3rem;
                transform: translateY(-50%);
            }
            &.rank-up {
                font-size: 1rem;
                color: #e92dff;
                &:before {
                    top: 0;
                    width: 1.6rem;
                    height: 1.6rem;
                    margin-bottom: 0;
                    border-radius: 0;
                    background-color: transparent;
                    transform: none;
                    @include bg($src: '../images/ico/ico_rank_up.svg', $po: center left);
                }
            }
            &.rank-down {
                font-size: 1rem;
                color: #306aff;
                &:before {
                    top: 0;
                    width: 1.6rem;
                    height: 1.6rem;
                    margin-bottom: 0;
                    border-radius: 0;
                    background-color: transparent;
                    transform: none;
                    @include bg($src: '../images/ico/ico_rank_down.svg', $po: center);
                }
            }
        }
    }

    .rank-up {
    }
}
.rank-swiper {
    overflow: hidden;
    height: 33rem;
    margin-left: -1.6rem;
    margin-right: -1.6rem;
    padding: 0 1.6rem;
    .swiper-wrapper {
        width: 100% !important;
    }
    .swiper-slide {
        height: auto;
    }
    &.list-box {
        li + li {
            margin-top: 0;
        }
    }
    ol {
        counter-reset: rank 0;
        li {
            padding: 0.8rem 1.6rem;
            width: calc(100% - 2.8rem);
            &:before {
                display: inline-block;
                content: counter(rank);
                counter-increment: rank 1;
                width: 2rem;
                height: 2rem;
                margin-right: 0.8rem;
                text-align: center;
            }
        }
    }
    ul {
        li {
            width: calc(100% - 2.8rem);
        }
    }
}

.chall-slider {
    height: 32.1rem;
}
.chall-swiper {
    overflow: hidden;
    .swiper-slide {
        width: 216px;
        opacity: 0.5;
        a {
            display: block;
            height: 100%;

            .img {
                overflow: hidden;
                border-radius: 2.4rem;
                height: 28.8rem;
            }
            .time {
                display: none;
            }
        }
        &.swiper-slide-active {
            opacity: 1;
            .util-list {
                display: flex;
            }
            a {
                .img {
                    box-shadow: $shadow;
                    &:before {
                        display: block;
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(180deg, rgba(20, 36, 91, 0.036) 0%, rgba(0, 0, 0, 0) 100%);
                        z-index: 1;
                    }
                }
                .time {
                    display: block;
                    position: absolute;
                    top: 1.6rem;
                    right: 1.6rem;
                    font-size: 1rem;
                    line-height: 1.4rem;
                    color: #fff;
                    z-index: 2;
                }
            }
        }
        .util-list {
            display: none;
            justify-content: space-around;
            margin-top: 1.6rem;
            p {
                display: inline-block;
                position: relative;
                padding-left: 1.8rem;
                padding-right: 1.2rem;
                font-size: 1.2rem;
                line-height: 1.7rem;
                color: #585858;
                &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1.6rem;
                    height: 1.6rem;
                }
                &.like:before {
                    background: url('../images/ico/ico_heart_grey.svg') no-repeat center;
                }
                &.view:before {
                    background: url('../images/ico/ico_eye_grey.svg') no-repeat center;
                }
                &.number:before {
                    background: url('../images/ico/ico_user_grey.svg') no-repeat center;
                }
                span {
                    display: inline-block;
                }
            }
        }
        &.vinyl {
            a {
                display: flex;
                flex-direction: column;
                padding-top: 7.2rem;
                &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 0rem;
                    left: 50%;
                    width: 14.4rem;
                    height: 14.4rem;
                    transform: translateX(-50%);
                    background: url('../images/img/img_vinyl.png') no-repeat 0 0;
                    background-size: cover;
                }
            }
            .img {
                height: 21.6rem;
            }
        }
    }
}

.chall-slider-info {
    .info-box {
        dl {
            display: flex;
            gap: 0.8rem;
            padding: 0.8rem 0;
        }
        dt,
        dd {
            line-height: 2.4rem;
        }
        dt {
            position: relative;
            width: 10rem;
            padding-left: 3.2rem;
            box-sizing: $sizing;
            color: #404040;
            flex-shrink: 0;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 0rem;
                left: 0;
                width: 2.4rem;
                height: 2.4rem;
            }
            &.date:before {
                background: url('../images/ico/ico_date_color.svg') no-repeat 0 0;
            }
            &.name:before {
                background: url('../images/ico/ico_original_color.svg') no-repeat 0 0;
            }
            &.music:before {
                background: url('../images/ico/ico_music_color.svg') no-repeat 0 0;
            }
            &.info:before {
                background: url('../images/ico/ico_info_color.svg') no-repeat 0 0;
            }

            &.music {
                & + dd {
                    @include ellipsis();
                }
            }
        }
        dd {
            flex: 1;
            .tag-list {
                gap: 0.4rem;
                .tag {
                    font-size: 1.4rem;
                    color: #404040;
                }
            }
        }
    }
    .btn-box {
        margin-top: 1.6rem;
    }
    .tag-list {
        flex-wrap: wrap;
    }
}
.chall-slider-video {
    .title-box {
        padding: 1.6rem 0;
    }
    .challenge-box {
        li {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                position: relative;
            }
        }
    }
}
.playbar-area {
    display: flex;
    position: relative;
    height: 4.2rem;
    gap: 0.8rem;
    align-items: center;
    margin-bottom: 1.6rem;
    .btn-play {
        position: relative;
        display: block;
        width: 4.2rem;
        height: 4.2rem;
        background: linear-gradient(135deg, #ff880a 0%, #ff5c00 44.79%, #ff5c00 78.65%, #e45200 100%);
        border-radius: 50%;
        box-shadow: $shadow;
        &:after {
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2.4rem;
            height: 2.4rem;
            transform: translate(-50%, -50%);
            @include bg($src: '../images/ico/ico_w_play.svg');
        }
        &.is-stop {
            &:after {
                background-image: url('../images/ico/ico_w_pause.svg');
            }
        }
    }
    .bar-area {
        position: relative;
        flex: 1;
        height: 0.4rem;
        border-radius: 0.2rem;
        background: #fff;
        box-shadow: $shadow;

        .bar {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: linear-gradient(135deg, #ff7300 0%, #ef510e 100%);
            border-radius: 0.2rem;
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: -0.6rem;
                right: 0;
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
                background: linear-gradient(135deg, #ff880a 0%, #ff5c00 44.79%, #ff5c00 78.65%, #e45200 100%);
                box-shadow: $shadow;
            }
        }
    }
    .timer {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1rem;
        line-height: 1.4rem;
        color: #404040;
        text-shadow: 0px 4px 12px rgba(20, 36, 91, 0.18);
    }
}
