.profile-area {
    display: flex;
    flex-direction: column;

    .profile-top {
        display: flex;
        margin-bottom: 1.6rem;

        .user-img {
            position: relative;
        }

        .badge {
            position: absolute;
            bottom: -0.4rem;
            right: -0.4rem;
            width: 3.6rem;
            height: 3.6rem;
            z-index: 1;
        }

        .img {
            width: 10.4rem;
            height: 10.4rem;
            border-radius: 50%;
            overflow: hidden;
        }

        .follow-area {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            gap: 2.4rem;
            margin-left: 0.4rem;

            dt,
            dd {
                text-align: center;
            }

            dt {
                font-size: 1.2rem;
                line-height: 1.7rem;
                color: #585858;
            }

            dd {
                font-weight: $bold;
                line-height: 2.3rem;
            }
        }
    }

    .intro-area {
        margin-bottom: 0.8rem;

        .nickname {
            display: block;
            margin-bottom: 0.8rem;
            line-height: 2.3rem;
        }
    }
}

.challenge-box.mycoll {
    li {
        position: relative;

        &.secret {
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 0.8rem;
                left: 0.8rem;
                width: 2.4rem;
                height: 2.4rem;
                @include bg($src: '../images/ico/ico_w_lock.svg');
            }
        }

        &:before {
            display: block;
        }
    }

    .btn-more {
        display: block;
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;
        width: 2.4rem;
        height: 2.4rem;
        @include bg($src: '../images/ico/ico_w_more.svg');
        z-index: 10;
    }

    .btn-clear {
        display: block;
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;
        width: 2.4rem;
        height: 2.4rem;
        z-index: 10;
        font-size: 1rem;
        font-weight: $bold;
        text-shadow: 0px 0px 2px rgba(20, 36, 91, 0.2);
        color: #fff;
    }

    .util {
        display: flex;
        margin-top: 0.4rem;
        justify-content: space-evenly;

        p {
            display: inline-block;
            position: relative;
            font-size: 0;
            color: #404040;

            &:before {
                display: inline-block;
                content: '';
                width: 1.6rem;
                height: 1.6rem;
                margin-right: 0.2rem;
            }

            &.view:before {
                @include bg($src: '../images/ico/ico_util_view.svg');
            }

            &.like:before {
                @include bg($src: '../images/ico/ico_util_like.svg');
            }
        }

        span {
            display: inline-block;
            font-size: 1rem;
            vertical-align: top;
            line-height: 1.6rem;
        }
    }

    &.clear {
    }
}

.lottie_arrowDown {
    width: 5.3rem;
    height: 5.2rem;
    margin: 0.8rem auto 0;
}

.follow-list-area {
    margin-top: 2.4rem;

    &.noFollow {
        display: flex;
        flex-direction: column;
        gap: 3.6rem;

        .top {
            p {
                position: relative;
                padding-top: 20.9rem;
                text-align: center;
                line-height: 2.3rem;

                &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 21.2rem;
                    height: 20.9rem;
                    background: url('../images/img/img_no_result.png') no-repeat 0 0;
                    background-size: cover;
                }
            }
        }

        .bottom {
            p {
                line-height: 2.3rem;
                font-weight: $bold;
            }
        }

        .list-box {
            .info {
                padding-right: 1.6rem;
            }
        }
    }

    .list-box {
        margin-top: 2.4rem;

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        li {
            position: relative;

            & + li {
                margin: 0;
            }
        }

        .info {
            flex: 1;
            margin-right: 0;
            padding-right: 6.5rem;
        }

        .btn-follow {
            position: absolute;
            width: 6rem;
            height: 2.4rem;
            top: 50%;
            right: 1.6rem;
            font-size: 1.2rem;
            z-index: 1;
            transform: translateY(-50%);
        }

        .noData {
            height: 100vw;
            justify-content: center;

            p {
                position: relative;
                flex: 1;
                padding-bottom: 23.5rem;
                text-align: center;

                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 21.2rem;
                    height: 21.2rem;
                    @include bg($src: '../images/img/img_no_search.png');
                    background-size: cover;
                }
            }
        }
    }
}

.notice-area {
    .list-box {
        margin-top: 1.6rem;

        .body-title {
            max-height: 4.6rem;
            @include ellipsis2();
        }

        .text-l {
            display: block;
            color: #707070;
        }

        &.faq {
            .body-title {
                display: block;
                overflow: visible;
                max-height: 100%;
                text-overflow: clip;
            }
        }
    }
}

.notific-box {
    margin: 1.6rem 0;

    .card {
        border-radius: 2.4rem;

        + .card {
            margin-top: 1rem;
        }

        .title-box {
            align-items: stretch;

            .body-title {
                flex: 1;
            }
        }

        .text-l {
            color: #707070;
        }
    }

    &.-notice {
        .card {
            .title-box {
                max-height: 4.6rem;

                .ico-new {
                    display: none;
                    width: 2rem;
                    height: 2rem;
                    margin-left: 0.2rem;
                    border-radius: 50%;
                    @include bg($src: '../images/ico/ico_o_new.svg');
                    box-shadow: $shadow;
                }
            }

            &.new {
                .ico-new {
                    display: block;
                }
            }
        }
    }

    &.-faq {
        .card {
            .ico-q-mark {
                margin-right: 0.8rem;
                color: $main-color;
                font-weight: 700;
            }

            .ico-a-mark {
                width: 2.6rem;
                color: #707070;
                font-weight: 700;
            }

            .sub-title {
                flex: 1;
            }
        }
    }

    &.-content {
        .card {
            padding: 0;
        }

        .title-box {
            padding: 1.6rem;
        }

        .card-body-content {
            display: flex;
            padding: 1.6rem;
            border-top: 1px solid #e7e7e7;
        }
    }
}

.badge-area {
    margin-top: 1.6rem;

    .badge-rep {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.4rem;
        padding: 2.4rem;
        background: #fff;
        border: 1px solid #ff880a;
        border-radius: 3.2rem;
        box-sizing: $sizing;
        box-shadow: $shadow;

        .img {
            width: 12rem;
            height: 12rem;
            overflow: hidden;
            margin-bottom: 1.6rem;
        }

        .body-title {
            display: block;
            margin-bottom: 0.4rem;
        }
    }

    .badge-box {
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 2.4rem 0.8rem;
            font-size: 0;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc((100% - 16px) / 3);
            font-size: 1.4rem;
            box-sizing: $sizing;
        }

        button {
            display: block;
        }

        .img {
            width: 7.2rem;
            height: 7.2rem;
            overflow: hidden;
            margin: 1.6rem;
        }
    }
}

.wallet-area {
    .wallet-info {
        position: relative;
        margin-top: 4.6rem;
        padding: 1.6rem;
        border: 1px solid #ff880a;
        border-radius: 2.4rem;
        background-color: #fff;
        font-size: 0;
        text-align: right;
        box-shadow: $shadow;
        box-sizing: $sizing;

        &:after {
            display: block;
            content: '';
            position: absolute;
            top: -4rem;
            left: 1rem;
            width: 10rem;
            height: 10rem;
        }

        &.shoe {
            &:after {
                @include bg($src: '../images/ico/ico_shoe.svg');
            }
        }

        &.mdt {
            &:after {
                @include bg($src: '../images/ico/ico_mdt.svg');
            }
        }

        p {
            font-size: 1.4rem;
            line-height: 2rem;
        }

        em {
            font-size: 0.8rem;
            line-height: 1.2rem;
        }

        .sum {
            display: inline-block;
            margin-right: 0.4rem;
            font-size: 2.4rem;
            line-height: 2.9rem;
        }

        .btn-box {
            margin-top: 1rem;
        }

        .copy {
            display: none;
            position: relative;
            padding: 0.4rem 3.2rem 0.4rem 1.6rem;
            background: #e7e7e7;
            border-radius: 0.4rem;
            text-align: left;

            .copy-text {
                width: 100%;
                background: transparent;
                border: 0;
                font-size: 1rem;
                color: #404040;
                line-height: 1.4rem;
            }

            .btn-copy {
                position: absolute;
                top: 50%;
                right: 0;
                width: 100%;
                height: 2.2rem;
                transform: translateY(-50%);
                @include bg($src: '../images/ico/ico_copy.svg', $po: right 1rem center);
                background-size: 1.1rem 1.1rem;
            }
        }
    }
}

.list-box.wallet {
    margin-top: 1.6rem;

    .card {
        border-radius: 2.4rem;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 0.2rem;
        max-width: 100%;

        div {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }

        .top {
            font-size: 1.4rem;
            line-height: 2rem;
        }

        .bottom {
            font-size: 1.2rem;
            line-height: 1.7rem;
        }
    }

    .reason {
        display: block;
        flex: 1;
        @include ellipsis();
    }

    .add {
        &.plus {
            &:before {
                display: inline-block;
                content: '+';
            }
        }

        &.minus {
            &:before {
                display: inline-block;
                content: '-';
            }
        }
    }

    .date {
        color: #707070;
    }

    .plus {
        color: #306aff;
    }

    .minus {
        color: #e92dff;
    }

    .sum {
        color: #404040;
    }
}

.form-box {
    dl.shoe {
        padding-bottom: 3.2rem;
        dt {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        p {
            font-size: 1.2rem;
            color: #ff5c00;
        }

        .input-box {
            position: relative;
        }

        .unit {
            display: block;
            position: absolute;
            bottom: -2.5rem;
            right: 0;
            font-size: 1.2rem;
            color: #585858;
        }
    }
}

.notice-info-img {
    height: calc(100vh - 48px);
}

// 마케팅 동의 결과
.marketing-cont {
    margin: 0 -0.8rem;
    dl {
        display: flex;
        dt,
        dd {
            font-size: 1.4rem;
            line-height: 2rem;
            color: #111;
        }
        dt {
            position: relative;
            padding-left: 2rem;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 0.8rem;
                left: 0.8rem;
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 50%;
                background: #111;
            }
            &:after {
                display: inline-block;
                content: ':';
                padding-left: 0.4rem;
                line-height: 2rem;
            }
        }
        dd {
            padding-left: 0.4rem;
        }
    }
    .text-l {
        margin-top: 0.8rem;
        color: #585858;
    }
}
