.profile-area {
    display: flex;
    flex-direction: column;
    .profile-top {
        display: flex;
        margin-bottom: 1.6rem;
        .img {
            width: 10.4rem;
            height: 10.4rem;
            &:after {
                display: block;
                content: '';
                position: absolute;
                bottom: -0.4rem;
                right: -0.4rem;
                width: 3.6rem;
                height: 3.6rem;
                @include bg($src: '../images/etc/badge_follow.svg');
                z-index: 1;
            }
            img {
                border-radius: 50%;
                overflow: hidden;
            }
        }
        .follow-area {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            gap: 2.4rem;
            margin-left: 0.4rem;
            dt,
            dd {
                text-align: center;
            }
            dt {
                font-size: 1.2rem;
                line-height: 1.7rem;
                color: #585858;
            }
            dd {
                font-weight: $bold;
                line-height: 2.3rem;
            }
        }
    }
    .intro-area {
        margin-bottom: 0.8rem;
        .nickname {
            display: block;
            margin-bottom: 0.8rem;
            line-height: 2.3rem;
        }
    }
}
.challenge-box.profile {
    li {
        position: relative;
        &.secret {
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 0.8rem;
                left: 0.8rem;
                width: 2.4rem;
                height: 2.4rem;
                @include bg($src: '../images/ico/ico_w_lock.svg');
            }
        }
        &:before {
            display: block;
        }
    }
    .btn-more {
        display: block;
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;
        width: 2.4rem;
        height: 2.4rem;
        @include bg($src: '../images/ico/ico_w_more.svg');
        z-index: 10;
    }
    .util {
        display: flex;
        margin-top: 0.4rem;
        justify-content: space-evenly;
        p {
            display: inline-block;
            position: relative;
            font-size: 0;
            color: #404040;
            &:before {
                display: inline-block;
                content: '';
                width: 1.6rem;
                height: 1.6rem;
                margin-right: 0.2rem;
            }
            &.view:before {
                @include bg($src: '../images/ico/ico_util_view.svg');
            }
            &.like:before {
                @include bg($src: '../images/ico/ico_util_like.svg');
            }
        }
        span {
            display: inline-block;
            font-size: 1rem;
            vertical-align: top;
            line-height: 1.6rem;
        }
    }
}

.lottie_arrowDown {
    width: 5.3rem;
    height: 5.2rem;
    margin: 0.8rem auto 0;
}

.follow-list-area {
    margin-top: 2.4rem;
    &.noFollow {
        display: flex;
        flex-direction: column;
        gap: 3.6rem;
        .top {
            p {
                position: relative;
                padding-top: 20.9rem;
                text-align: center;
                line-height: 2.3rem;
                &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 21.2rem;
                    height: 20.9rem;
                    background: url('../images/img/img_no_result.png') no-repeat 0 0;
                    background-size: cover;
                }
            }
        }
        .bottom {
            p {
                line-height: 2.3rem;
                font-weight: $bold;
            }
        }
        .list-box {
            .info {
                padding-right: 1.6rem;
            }
        }
    }
    .list-box {
        margin-top: 2.4rem;
        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        li {
            position: relative;
            & + li {
                margin: 0;
            }
        }
        .info {
            flex: 1;
            margin-right: 0;
            padding-right: 6.5rem;
        }
        .btn-follow {
            position: absolute;
            width: 6rem;
            height: 2.4rem;
            top: 50%;
            right: 1.6rem;
            font-size: 1.2rem;
            z-index: 1;
            transform: translateY(-50%);
        }
        .noData {
            height: 100vw;
            justify-content: center;
            p {
                position: relative;
                flex: 1;
                padding-bottom: 23.5rem;
                text-align: center;
                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 21.2rem;
                    height: 21.2rem;
                    @include bg($src: '../images/img/img_no_search.png');
                    background-size: cover;
                }
            }
        }
    }
}
